[2016-10-01 08:27] SOF3 opened #2 "Better interface for enabling Poggit Build"
Allow user to edit `.poggit.yml` before committing.

[2016-10-17 21:56] Dog2puppy opened #4 "Add website link"

[2016-10-18 09:54] SOF3 commented on #4
Website is not publicly available yet.

[2016-10-18 09:54] #4 closed

[2016-10-19 16:56] SOF3 commented on #2
Mainly, creating a file in their repo without asking first is totally **barbaric**.

[2016-11-02 12:18] SOF3 opened #10 "Metadata lint"
![image](https://cloud.githubusercontent.com/assets/19623715/19928457/728db1a4-a139-11e6-9768-d330aa093eb2.png)

[2016-11-10 10:24] SOF3 opened #14 "Virion framework"
Reference: /assets/php/library_stub.php

# How it works
## How a Virion is developed
* The library is identified by a _species_, which is a namespace unique to the library. The namespace must not be a super-namespace for other libraries or plugins in the future. The species should contain the author name (or organization name), a namespace separator (backslash `\`), then the library name. For the

[2016-11-10 10:25] #2 closed

[2016-11-10 10:27] SOF3 opened #15 "API + More dynamic UI"
Add more API for other people to create clients for poggit.

Use more AJAX to load data so that the UI is more responsive.

[2016-11-10 10:29] SOF3 opened #16 "Plugin submission"
- [ ] Search plugins
- [x] Plugin/update submission
- [x] Staff review queue
- [x] Member review queue

[2016-11-10 10:30] SOF3 opened #17 "Deployment"
Create a deployment application for servers to manage (e.g. auto update) their plugins from Poggit plugin list.

[2016-11-10 10:33] SOF3 opened #18 "Security issues"
- [x] Rate limit users from creating Poggit-CI (e.g. less than 60 builds per user per week)
- [x] Limit project sizes &dash; don't let people create builds that are too large! Limitations: < 10 MB repo zip, < 2 MB phar artifact
- [x] Fix XSS problems

[2016-11-10 12:02] Thunder33345 commented on #17
so that means another plugin on user's server that would check for existing plugin that is downloaded via poggit(somehow...) and updates it?

[2016-11-10 12:14] SOF3 commented on #17
Not plugin. A standalone program.

[2016-11-13 18:42] Awzaw commented on #18
I've never seen a PM plugin >500 kB, so I'd say 1 MB until you get complaints

[2016-11-13 18:44] archie426 commented on #18
@Awzaw Sounds like a plan

[2016-11-13 18:46] Awzaw commented on #15
I'd leave more API until later... AJAX would be good for a multisearchbox in particular

[2016-11-13 19:29] Awzaw commented on #18
Sofe usually has his own, and always with good reason ;-)

[2016-11-13 19:30] archie426 commented on #18
@Awzaw And that is not a bad thing! (Not saying you did say it was). It is also usually right!

[2016-11-14 08:08] SOF3 commented on #18
Sometimes plugins may want to attach heavy files such as images or even worlds.

But indeed, if they do so, they should download the files JIT from the Internet instead. Not in the distributions.

[2016-11-14 08:09] SOF3 commented on #18
Well for exceptional cases they have to apply manually. Is this better?

[2016-11-14 08:11] SOF3 commented on #15
Ajax responses are basically API, except that they have different methods of authentication.

[2016-11-15 19:04] Awzaw opened #21 "UI / UX"
Here's a few ideas, let me know your thoughts.

Guest Homepage:

The main content I think should be moved into an "About" or "FAQ" page, so that the homepage can devote as much space as possible to people getting what they want: plugins.

There should be as little dev speak ("builds", "releases"...) as possible. It should be uncluttered and simple so that even foreign kids can easily find and down

[2016-11-15 19:06] archie426 commented on #21
I was thinking, instead of having a plugins column on the member page, swap that for a 'recently submitted' or a 'recently released' plugins and put the actual plugins on another page

[2016-11-15 19:38] HimbeersaftLP commented on #21
Also nice for newbies would be a "How to install plugins" section

[2016-11-15 19:45] archie426 commented on #21
@HimbeersaftLP Good idea

[2016-11-16 08:43] SOF3 commented on #21
Please remind people that there is only search for releases, no search for builds.

[2016-11-16 08:45] SOF3 commented on #21
What you are proposing about member homepage kind of duplicates what /pi does. Consider redirection or using the same module?

[2016-11-16 09:01] Awzaw commented on #21
I'd expect the Member homepage to be a general overview with panels pretty much as you have now but different arrangement if necessary, mixing public stuff (new dev builds/releases, maybe even something social) so it looks like a  "dashboard" overview.  The member CI page could then be focused entirely on their own repo/project admin

[2016-11-17 01:11] Dog2puppy commented on #17
Maybe make a plugin alternative then?

[2016-11-17 07:59] SOF3 commented on #17
@Dog2puppy it is a bad idea to edit executing phar files.

[2016-11-17 12:31] Dog2puppy commented on #17
@SOF3 Oh.

[2016-11-17 13:41] SOF3 opened #22 "Requests"
A plugin request section can be held on Poggit, offering features that cannot be satisfied using a normal forum.

It is actually quite simple. Mainly need to enhance on how plugins are claimed, or filled.

[2016-11-22 15:17] Magicode1 commented on #21
I totally agree with this, because if you remember, some plugins on Pocketmine got hundres of thousands of downloads (https://forums.pocketmine.net/plugins/essentialspe.886/)

Many of them weren't users and aren't very experienced. A less cluttered guest page would be the perfect solution to this.

[2016-11-22 15:21] Magicode1 commented on #22
This would be great idea.

I assume plugin Dev's would have to have a good reputation (Made a few good plugins) to claim stuff?

[2016-11-22 15:24] SOF3 commented on #22
Nope, it just marks him as "claimed". Multiple developers can declare to claim the request. If other developers think he is a noob and can't achieve anything, they can ignore his claim.

[2016-11-22 15:37] Magicode1 commented on #22
I see

[2016-11-29 16:51] SOF3 opened #26 "Better progress"
Better tracking of error/pending builds.
If a build is missed, it is difficult to find out which build is missed out or to create it from the middle.

[2016-11-30 09:48] SOF3 opened #28 "Namespace register repository"
Developers can "claim" namespaces they use. In the future this can be used for a wide range of purposes, such as:

* Preventing namespace collision
* Encourage proper naming of namespaces
* Allow third-party tools to query the information of a namespace

TODOs:
- [x] Tracking
- [ ] Listing
  - [x] Basic list: https://poggit.pmmp.io/fqn.txt
  - [ ] Better user interface

[2016-12-04 07:28] Intyre commented on #28
What about ```namespace <author>\<pluginname>;```?

[2016-12-04 08:08] SOF3 commented on #28
@Intyre What if the name of the author is the name of the plugin?

[2016-12-04 08:26] robske110 commented on #28
Bad practise :P

[2016-12-04 08:32] SOF3 commented on #28
Why would naming your organization the name of the the plugin your organization be a bad practice?

[2016-12-04 16:29] SOF3 commented on #26
This issue also refers to concurrency problems. When two pushes are triggered on the same repository at similar time, the two builds are executed concurrently, so there may be duplication of build numbers.

[2016-12-05 12:42] Magicode1 commented on #21
Do we want guests to be able to download plugins from the site without logging in?

[2016-12-05 12:45] SOF3 commented on #21
@Magicode1 you mean plugin releases or CI builds?

[2016-12-05 12:50] Magicode1 commented on #21
Releases

[2016-12-05 12:52] SOF3 commented on #21
Of course. All plugins that have been approved by community or staff are available to all users.

[2016-12-05 13:02] Magicode1 commented on #21
Sweet, just wanted to make sure

[2016-12-08 13:53] SOF3 commented on #26
Displaying errors can be separated to "project build errors" and "repo build errors". "Repo build errors" are mainly .poggit.yml parse errors, but also includes internal errors that occur before it starts project-local building.

[2016-12-08 14:14] SOF3 opened #30 "LoadBuildHistoryAjax security leak"
LoadBuildHistoryAjax does not check whether the requesting user scope has permission to view the requested project.
This results in security leak for projects in private repos where Elvin can query Poggit over an increment to see hidden projects.

[2016-12-10 05:09] SOF3 opened #31 "Comment to show Poggit-CI status"
Optionally use @poggit/bots (mainly @poggit-bot) to comment on commits/pull requests to show the link and status of the Poggit-CI build.

[2016-12-10 12:36] SOF3 opened #32 "Handle errors by exception"
Currently all errors are redirected to `poggit\error_handler()`. This issue proposes to change the flow to throwing an exception at `error_handler` and catch the exception at a centralized place.

[2016-12-10 16:41] #32 closed

[2016-12-12 16:04] SOF3 commented on #22
Also includes a tool to fill requests conveniently, like pmt.mcpe.me/insta.

[2016-12-13 16:47] SOF3 opened #33 "Mini forums"
A basic implementation of per-plugin threads in this manner:

[code]

No auxiliary features like likes, votes, etc. are planned.

[2016-12-31 21:10] Dog2puppy opened #34 "Stay signed in button"
Below the 'Login with GitHub' button there should be a checkbox to stay logged in.

[2016-12-31 23:13] Awzaw commented on #34
I stay logged in automatically - can you check if  your public IP address changes when this happens?

[2016-12-31 23:16] Sandertv commented on #34
I remain logged in as well, can confirm that.

[2017-01-01 01:17] Dog2puppy commented on #34
I have a static IP, so it never changes. It seems to happen only if I don't go to the website for a da yu or 2.

[2017-01-01 02:54] Awzaw commented on #34
If it only happens after a few days I think this is the cause, and there's nothing we can do about it:

from https://developer.github.com/v3/oauth/

[2017-01-01 03:07] #34 closed

[2017-01-03 14:28] SOF3 commented on #34
I don't even know what is "stay signed in". I only know one way of staying signed in without intended expiration, and I'm using it already.

I believe that, instead of logging out the user, if Poggit **thinks** the user is logged in (the session is retained), but the GitHub OAuth tokens no longer work, then errors will occur. I don't think Poggit is taught to intelligently forget deactivated old t

[2017-01-03 21:37] jasonwynn10 opened #36 "Poggit Requires default branch use"
When attempting to add a new repository to poggit, I did not add the master branch (because that has a website on it with no plugins) to the .poggit.yml and only added the plugins branch. Poggit automatically disabled that repository until I manually added the master branch to the config

[2017-01-03 22:26] Dog2puppy commented on #34
@Awzaw @SOF3 Okay.

[2017-01-03 22:45] Dog2puppy commented on #34
@SOF3 What if I taught poggit to forget old tokens.

[2017-01-04 00:14] Dog2puppy opened #37 "Count downloads of each build"
I think it would be cool if poggit showed how many times each build was downloaded. And then on the project page it would show the total downloads.

[2017-01-04 00:35] Awzaw commented on #36
Poggit doesn't require you to use 'master' branch, but it does use the github "Default Branch" setting for your repo. Either set that to 'plugins', or specify both 'master' and 'plugins' in poggit.yml and it will work.

[2017-01-04 00:46] Awzaw commented on #34
I've now been logged in for about a week... if you are still getting this behaviour, are you sure your cookies aren't getting cleared somehow?

[2017-01-04 09:19] Awzaw commented on #37
Download counts will be displayed in the 'Release' section, but not for CI as that is NOT a plugin list

[2017-01-04 09:25] AmiroEmad commented on #37
Supported

[2017-01-04 09:28] Awzaw commented on #36
According to SOF3 to avoid problems with this kind of setup the best approach is simply to commit the same .poggit.yml to all branches :-) You can also choose not to commit poggit.yml when enabling a project - there doesn't need to be a .poggit.yml file in the default branch as long as you add it manually to your non-default branch

[2017-01-04 09:30] Awzaw commented on #37
Hi Amir - 'Supported'?!

[2017-01-04 09:44] AmiroEmad commented on #37
@Awzaw I was just supporting the suggestion.

[2017-01-04 09:53] Awzaw commented on #37
Ah ok - we all love download counts ;-) When Release is done, you'll see them there

[2017-01-04 09:54] #37 closed

[2017-01-04 14:19] Ad5001 opened #38 "Echo on Async tasks"
Hello,

*Please note that I can't know if this is considered as a bug. It can be an enhancement*

Recently, I made some plugins with async tasks (I won't give it's name thought it won't be approved) and I noticed that when echoing, we get a lint error. For a normal sync file, I fully understand.

But what about asyncs tasks? We cannot call the PM logging function due to being async so we need to u

[2017-01-04 14:28] SOF3 commented on #38
It is pretty impossible to prevent this. We don't know in what thread will a function be executed in. Even professional IDEs rely on annotations or doccomments to indicate whether a function is executed in a certain thread. (See Android's `@UiThread`/`@WorkerThread` annotation)

Note the recent addition of the `AsyncTask::publishProgress()` function, which can be used for executing code on the mai

[2017-01-04 14:30] SOF3 commented on #38
You can create a new issue for the feature addition of lint suppression symbols in code.

[2017-01-04 14:30] #38 closed

[2017-01-04 14:36] Ad5001 commented on #38
I know that is impossible. But like when executed on a class having "extends AsyncTask " is impossible to detect? I didn't looked into your syntax checking yet.

[2017-01-04 14:39] jasonwynn10 commented on #36
I'll test that and see if it works

[2017-01-04 14:40] SOF3 commented on #36
I assume you to be mentioning about your jasonwynn10/YourCraftZ repo. According to my observation, the .poggit.yml in your master branch is unnecessary and can be removed. However you have to create it in your plugins branch. The pull request jasonwynn10/YourCraftZ#1 has been created, which possibly helps with your problem.

This issue remains opened as @Awzaw is assigned to improve documentation

[2017-01-04 14:45] SOF3 commented on #38
@Ad5001 Poggit only has primitive token-based checking right now. Not even detecting functions, although detecting class names already.

I think for your case it is best to use publishProgress() and use getLogger()->info() in the onProgressUpdate() function.

[2017-01-04 14:50] SOF3 commented on #38
Moreover, I consider it to be low-quality code to use `extends AsyncTask` as the indicator, since main thread code can be in AsyncTask class files and async code can even be in the main class.

[2017-01-04 14:51] jasonwynn10 commented on #36
Could there be a way to set the branch to add the poggit.yml to? maybe add a list of repository branches before committing the settings file to it?

[2017-01-04 14:55] SOF3 commented on #36
@jasonwynn10 you are complicating the issue :D Poggit tries to load most of the data from the .poggit.yml, and now you are asking to depend on something else, then why not entirely delete the .poggit.yml :D

The simple definition for which branch to place the .poggit.yml is, if you want Poggit to build that branch, .poggit.yml is mandatory, and if you don't want Poggit to build that branch, .poggi

[2017-01-04 14:59] jasonwynn10 commented on #36
Okay, that makes more sense to me. Thank You.

[2017-01-04 18:02] Ad5001 commented on #38
True...

[2017-01-23 09:43] Thunder33345 opened #41 "Lint PSR-0 get triggered on anonymous class"
https://poggit.pmmp.io/ci/dihydrogen-monoxide/PureChatReloaded/PureChatReloaded/dev:5#lint
self explanatory when trying to make a anonymous class lint violation of PSR-0 get triggered
(yes i know it is some what of a bad practice to just do that but lets not get off the main point)
i am supposing this is a bug as it was hinted here https://forums.pmmp.io/members/awzaw.10/#profile-post-1298

[2017-01-23 10:40] #41 closed

[2017-01-23 11:03] Thunder33345 commented on #41
👍  that was fast
will test and see if it still happens

[2017-01-23 22:05] Sandertv opened #42 "Suggestion: Make poggit logo redirect to Home page."
Thanks for putting hours of work in Poggit, it's starting to become something absolutely amazing! There is one thing I'd like to ask if you could add that, which I don't think is too hard to do. Do you think it would be a good idea to make the Poggit logo on the top left corner redirect you to the home page when clicking it? No problem if you don't like the idea. I just feel like it makes the webs

[2017-01-24 09:15] #42 closed

[2017-01-24 10:49] Sandertv commented on #42
Thank you @Awzaw!

[2017-01-24 12:02] SOF3 opened #43 "Clicking problem with navbar"
Navbar refers to navtabs i.e. `Home` `CI` `Release` `Help`.

While the cursor is `hand` for the whole navtab, only the words are clickable (as an `<a>`). This is especially notable in mobile, where the whole area with `hand` cursor gets highlighted, and people don't understand why the links won't work.

[2017-01-24 16:29] Awzaw commented on #43
It's on my long list!

[2017-01-26 00:55] Dog2puppy commented on #34
My cookies never clear, my ip is static, and it only happens if I'm inactive for over a day.

[2017-01-26 10:00] Thunder33345 commented on #34
but is a dont sign me in possible?
even tho the auth is relied on github

[2017-01-26 10:09] SOF3 commented on #34
@Thunder33345 since you're aware of it, ask GitHub for it.

[2017-01-26 11:44] Sandertv opened #44 "Search bar directs to wrong plugin version"
When using the search function, it does not seem to direct to the latest version of the plugin that was searched. I'm not sure if this is because I used a weird version (0.0.99), but I think that should not work like that.

How to reproduce?
1. Go to Poggit and type BlockSniper in the search bar. Sorry if this is considered advertising, it isn't meant to be.
2. Poggit will direct you to version 0.

[2017-01-26 13:01] Awzaw commented on #44
Thanks for pointing it out, should be fixed today

[2017-01-26 14:11] #44 closed

[2017-01-26 14:12] Sandertv commented on #44
Thank you!

[2017-01-26 14:12] Awzaw commented on #43
Done

[2017-01-26 14:12] #43 closed

[2017-01-26 14:43] SOF3 commented on #42
Would be great if this includes the `Poggit` word too, as well as that on mobile site.

[2017-01-27 04:01] #30 closed

[2017-01-27 11:28] SOF3 opened #45 "Associate releases"
Some plugins, like @onebone's Economys plugin, have multiple phars but are released together as addons. Poggit should add an option "Associate release" such that a release is associated with the main project.

Required for releasing plugins like EconomyS

===

Update as of August 2017: Still need to add a button to download an archive containing all associated plugins.

[2017-01-27 21:50] Sandertv opened #46 "Keywords stack when releasing"
When releasing, the searching keywords at the bottom of the page appear correctly, but when submitting an update the keywords get added again, next to the already existing keywords. This causes a long string of the same keywords, which can be seen at the bottom of the page here: https://poggit.pmmp.io/p/BlockSniper/45.

Steps to reproduce:
1. Release a plugin of any kind.
2. Submit a plugin update

[2017-01-27 22:00] Awzaw commented on #46
working on that as I found this :-)

[2017-01-28 01:33] #46 closed

[2017-02-10 22:40] Sandertv opened #50 "Suggestion: Display author on plugin release page"
On the page with all the releases, you can see the author of every plugin under the name of it. When clicking the plugin, the name of the author seems impossible to find however, which is a bit inconvenient sometimes. Could you maybe display the name of the author on the release page of every plugin as well? It would be greatly appreciated.

[2017-02-11 01:36] Awzaw commented on #50
links to /ci/author for now, will link to the author's releases

[2017-02-11 01:36] #50 closed

[2017-02-21 11:13] Sandertv opened #53 "Releasing a new plugin version, and removing the old version will clear all reviews"
When submitting a new release to Poggit, and removing an older release of that plugin, on which the review has been made in the first place, the reviews from that version will be cleared.

How to reproduce?
1. Leave a review on your plugin.
2. Submit a plugin release for that plugin.
3. Remove the old version.
4. Check the review page again.

I'm not entirely sure if this is intended or not. If it

[2017-02-22 04:02] SOF3 commented on #53
Why do you remove the old version anyway?

[2017-02-22 06:34] Sandertv commented on #53
Erm, blame me for reading something wrong.

[2017-02-22 08:49] SOF3 commented on #53
Actually I wonder whether older versions should be allowed to be deleted at all. It only makes sense to delete the old plugin, but not to delete older versions.

[2017-02-23 15:29] Thunder33345 commented on #18
Does this counts as XSS
https://poggit.pmmp.io/%3Cscript%3Ealert(1)%3Cs/cript%3E
![Image](http://i.imgur.com/63gy4pu.png)
chrome seems to notice it and neutralizes it, but i doubt other web browser will do the same
nor i am 1337 enough to be bothered to find a chrome XSS detector bypass

[2017-02-25 00:53] catgirlinspace opened #54 "Add a webhook for builds"
I think it would be great if poggit would send a POST to a webhook url. For those of us who use Discord, we could setup poggit to send a POST to Zapier, and then Zapier would handle sending it to Discord. It could also be like GitHub where you can have it send everything, send commits, send reviews on Release, etc.

[2017-02-25 03:44] SOF3 commented on #54
Any specific information you need in such a webhook?

[2017-02-25 07:56] Thunder33345 commented on #54
I would guess just general like centralized overview of things on x channel

[2017-02-25 10:20] ivand-sykt opened #55 "Cannot submit plugin update"
![image](https://cloud.githubusercontent.com/assets/8011308/23330358/002ae95a-fb5d-11e6-9575-97532ef08ac9.png)
This happens in console after clicking "submit update". Only button becomes strikedthrough.

[2017-02-25 10:29] Awzaw commented on #55
Should be fixed now, can you test again please?

[2017-02-25 10:33] ivand-sykt commented on #55
@Awzaw fixed! thanks!

[2017-02-25 10:33] #55 closed, assigned to Awzaw

[2017-02-25 13:43] catgirlinspace commented on #54
Build status (Failed, 1 lint error, Passed) and if it failed or had a lint error it should probley include why it failed. It should also include a link to the build, the repo name, and the build number (dev:1, pr:1). Of course, there's a lot more, but this is all I can think of.

[2017-02-25 13:45] catgirlinspace commented on #54
And for things like releases getting reviewed, it should include the GitHub name of the reviewer, the review, and what release the review was posted on.

[2017-02-25 13:54] SOF3 commented on #54
What do you think if we only send commit comments to the repo (see #31) and then you detect the information according to the commit comments? This is still possible, as a commit comment is sent by @poggit-bot if and only if it is a comment related to reviewing. We may have some `` in the comment.

[2017-02-25 16:04] catgirlinspace commented on #54
That might work, but I still think proper webhooks should be added.

[2017-02-25 16:06] SOF3 commented on #54
Proper webhooks will require an additional interface for webhook management, which requires much work. I don't want to unnecessarily reinvent something that we can access already.

[2017-02-25 20:13] Thunder33345 commented on #54
i would recon just scrap poggit in a gentle way
by whenever a commit is made, send a POST to a handler which would figure out build ID and so on,
then proceed to scrap poggit for lint issues
then calling the discord webhook, IF there any issues

[2017-02-26 10:50] SOF3 commented on #14
Implementing in #57.

[2017-02-28 04:35] ivand-sykt opened #59 "Response to someone's plugin review"
Plugin author should have ability to response to someone's plugin review (like in Google Play)

[2017-02-28 08:43] Sandertv commented on #53
In addition to this, having submitted an update for a plugin in the same situation as above but not removing the old version, will make the review not show up in the newest version.

[2017-02-28 09:47] SOF3 commented on #59
Yeah, planning for this.

[2017-02-28 12:19] Thunder33345 commented on #53
but if you choose not to release eventually we will end up with bunch of old CI build and bunch of old releases which would take up disk space

and i propose to demote plugin stats to a new updated-unchecked status since it can potentially be abused to inject code without reviewers notice

[2017-02-28 12:20] Awzaw commented on #53
You could inject code? Where?

[2017-02-28 12:55] Thunder33345 commented on #53
@Awzaw i am suspecting
if i submitted A plugin and if it gets approved, i can update it without having reviewer re check the code, or that's what i expect it to behave like which i could be wrong

[2017-02-28 12:56] Sandertv commented on #53
@Thunder33345 it does have to be re-checked before showing up.

[2017-02-28 14:24] SOF3 commented on #53
Forwarding this in case you don't check. @Thunder33345
![screenshot_2017-02-28-22-23-22](https://cloud.githubusercontent.com/assets/19623715/23408922/a90047e2-fe04-11e6-95ee-cd7ed76c9475.png)

[2017-02-28 14:41] Thunder33345 commented on #53
@SOF3 typo i meant old
but i think we should start archiving before it gets to be a problem, like only serve 100 lattes builds

[2017-02-28 16:30] Awzaw commented on #53
If you mean reviews, at the moment they are per release, not per project, so if you release a new build it a) needs reapproval and b) currently only shows reviews for that version. I'll change that to show reviews for earlier releases too, and we are going to revamp reviews soon

[2017-02-28 17:20] Sandertv commented on #53
Just thought it was a bit weird that the (for example) 5/5 DOES show up in the corner of the release.

[2017-02-28 18:52] Awzaw commented on #53
I wouldn't have expected that... maybe I already changed scores to take into account all reviews per project  and there might be some orphaned reviews, I'll check

[2017-03-05 02:31] jasonw4331 opened #60 "Spam project creation from lag"
If I click the confirm button when adding a repo to poggit more than once before it closes the window, it spams adding the repository to poggit.

![Glitch 1](http://imgur.com/T5aPqru.png)
![Glitch 2](http://imgur.com/NdpaezM.png)

[2017-03-05 08:23] SOF3 commented on #60
Then why did you click it multiple times in the first place?

Also, the repo boxes on the right are a bit broken when it comes to interactivity. Reload after waiting for several seconds.

[2017-03-05 13:37] Thunder33345 commented on #60
if it couldnt became a attack vector we shouldn't be too worry

[2017-03-05 13:49] TheDiamondYT1 opened #61 "How do you use the API?"
Heyo.

Im making an app and a plugin which requires the poggit api, but i have no idea how to use it.
`https://poggit.pmmp.io/api` shows "Invalid JSON string".

Basically all i need to do is list the plugins, get individual plugin info and get the plugin download link via the api.

[2017-03-05 14:28] jasonw4331 commented on #60
I've done that @SOF3 and it removed all of them. The repository wasn't actually added, but the commits still went through.

[2017-03-05 14:41] Awzaw commented on #60
Fixed confirm button, added info when adding a repo

[2017-03-05 14:41] #60 closed, assigned to nobody

[2017-03-05 14:45] Awzaw commented on #60
The repo should still have been added once even though the info boxes were empty - if not that's maybe a separate issue

[2017-03-05 14:51] jasonw4331 commented on #60
Yea, the switch on the side is marked as off. And it doesn't appear to be on any other list.

[2017-03-05 14:52] Awzaw commented on #60
What do you see now when you enable?

[2017-03-05 14:58] jasonw4331 commented on #60
![Glitch 1](http://imgur.com/5Dvizvi.png)
![Glitch 2](http://imgur.com/YKASnoM.png)
![Glitch 3](http://imgur.com/Fy8tj5B.png)

[2017-03-05 15:17] Awzaw commented on #60
If it's for https://github.com/jasonwynn10/GlowstoneCircleWorld master branch, it's empty...

[2017-03-05 15:23] jasonw4331 commented on #60
Shouldn't it still be added though? I am still planning on making it a plugin.

[2017-03-05 15:24] Awzaw commented on #45
I can't see much difference between an "optional dependency", whatever that is exactly... and an "associate release", except that maybe the latter would be reserved for plugins from the same author. So do we need a separate section for this, or could we add a third category such as "Associated Plugin" to Required/Optional?

[2017-03-05 15:26] Awzaw commented on #60
Much as I'd love that to be possible, Poggit can't build anything until the code is there!

[2017-03-05 15:52] jasonw4331 commented on #60
What if there was a queue for the empty repositories that haven't been added to yet? Could it remain in the  list even though it had nothing to compile?

[2017-03-05 16:17] Awzaw commented on #60
I don't think so, why would you want it on Poggit before it can be built?

[2017-03-05 16:18] jasonw4331 opened #62 "Repository not added after confirming"
I previously attempted to add an empty repository to poggit and in the process, added a .poggit.yml file to the repository. After poggit recognised the repo as empty and removed it, I added my plugin files and attempted to re-add it back to poggit. I unchecked the create .poggit.yml box and clicked confirm. The repository still wasn't added even though there are the plugin's files in the repositor

[2017-03-05 16:21] Awzaw commented on #62
Try adding the project to poggit.yml, it was made 17 hours ago and is currently set to projects: []

[2017-03-05 16:24] jasonw4331 commented on #60
Personally, I would just like it there as a reminder of what to work on, but that's a good point

[2017-03-05 16:28] jasonw4331 commented on #62
It added a random 0
![](http://imgur.com/NVyzW6N.png)

[2017-03-05 16:30] Awzaw commented on #62
poggit.yml should be like this, at the most basic:

[code]

[2017-03-05 16:47] SOF3 commented on #62
Poggit only builds when all of these are true:

* The repo is enabled for Poggit CI on the site (you can see it from the CI page)
* There is at least one project in .poggit.yml
* The branches value in .poggit.yml either doesn't exist or contains the current branch
* A commit involving changes in the .poggit.yml file or within the path of declared projects is pushed while the repo is enabled for Po

[2017-03-05 16:50] SOF3 commented on #45
Associated releases are actually packages of plugins. Dependencies are just "You can use them together" "It's an add-on", but association is stronger -- "You SHOULD use them together". Therefore there should be a zip download for associated projects while this is not needed for normal dependencies.

[2017-03-05 16:54] SOF3 commented on #60
Poggit managed plugins in a project-based approach. Repos are only a level of communication between GitHub and Poggit, and for grouping projects. If there are no projects, there is nothing to display at all.
As you can see, there is almost nothing in common between builds due to the same commit. This is because Poggit considers them as entirely separate builds. Whether you have commits in non-proj

[2017-03-05 16:58] SOF3 commented on #61
Far from completing. Still in the design stage, not even in implementation stage.

[2017-03-05 16:58] #61 closed, assigned to SOF3

[2017-03-05 16:59] SOF3 commented on #61
For further questions, please use poggit/support instead.

[2017-03-05 17:54] jasonw4331 commented on #62
After I changed the config,it duplicated the project with a separate name
![](http://imgur.com/3zcg3wm.png)

[2017-03-05 17:58] Awzaw commented on #62
I assume that's from when you tried with:
[code]

I'll delete it

[2017-03-06 16:55] Awzaw commented on #62
Is everything good now?

[2017-03-06 17:27] jasonw4331 commented on #62
It appears that poggit is recognising the repository as being within a larger project or something

[2017-03-06 23:15] Awzaw commented on #62
Can you screenshot?

[2017-03-06 23:30] jasonw4331 commented on #62
![](http://imgur.com/qn7KCjg.png)

[2017-03-07 09:41] ivand-sykt opened #64 "Downloads reset on meta update"
Downloads count on release resets after updating metadata of release (downloads from older versions (draft) are not reset).

Steps to reproduce:
1. Make you plugin downloaded a few times.
2. Update plugin description.
3. View at release downloads count.

[2017-03-07 10:33] Awzaw commented on #62
That all looks normal to me, although I should fix the padding... It's showing the latest builds for the plugin glowstonecircle, as it's supposed to. Or did I miss something?

[2017-03-07 10:51] SOF3 commented on #62
This is correct. Poggit handles each repo as a group of projects.

[2017-03-07 13:40] Awzaw commented on #64
Thanks, fixed

[2017-03-07 13:40] #64 closed, assigned to Awzaw

[2017-03-07 14:00] jasonw4331 commented on #62
okay then, I guess the issue is solved then?

[2017-03-07 14:00] #62 closed, assigned to nobody

[2017-03-07 14:25] ivand-sykt commented on #64
and who will restore missing downloads? :D

[2017-03-07 14:32] Awzaw commented on #64
gone forever I think :-(

[2017-03-08 16:27] jasonw4331 opened #65 "Mobile page disorientation"
This happened on mobile after closing all switch panels
Tested using the iPhone 7
![img_0678](https://cloud.githubusercontent.com/assets/16521025/23712829/0b755186-03f2-11e7-97a9-ff97434cf512.PNG)
![img_0679](https://cloud.githubusercontent.com/assets/16521025/23713054/aee9b528-03f2-11e7-86e9-22a9e9c6a8cb.PNG)

[2017-03-08 16:30] jasonwynn10 commented on #65
That was taken on my iPhone 7

[2017-03-08 20:25] HimbeersaftLP commented on #65
Looks like an iOS only bug, I don't get that bug on Windows Phone and Android

[2017-03-08 22:51] Awzaw commented on #65
Do you see the same problem with  Chrome?

[2017-03-08 23:44] jasonw4331 commented on #65
chrome on ios

[2017-03-09 09:34] Awzaw commented on #65
Yes, do you see the same problem using Chrome on the Phone 7

[2017-03-09 11:38] jasonw4331 commented on #65
That's how i first noticed it.
iPhone 7 regular size
google chrome browser

[2017-03-09 13:27] Awzaw commented on #65
Ok, thanks. I think it's related to the ajax loadng the repo data rather than the CSS itself. I'll sort it out today hopefully

[2017-03-10 01:43] jasonw4331 commented on #65
9877fcc seems to have fixed it

[2017-03-10 01:43] #65 closed, assigned to Awzaw

[2017-03-13 09:29] SOF3 opened #67 "MultiSearch issues"
1. URLs pointing to the repos instead of projects
2. As the project name is consistent across different builds, it should search projects instead of builds.

[2017-03-13 09:31] Awzaw commented on #67
How about switching to AJAX for release search?

[2017-03-13 09:45] SOF3 commented on #67
Isn't MultiSearch about CI?
About release search by AJAX, it is OK, but make sure we still have a search-within-URL link, in order to keep `/p/invalid-plugin-name` redirect to searching `invalid-plugin-name`.

[2017-03-13 10:28] Awzaw commented on #67
Ok, there's still lots to do for CI and release searching, sorting and filtering

[2017-03-17 16:51] Sandertv opened #68 "500 Internal Server Error"
When trying to submit a plugin update today, I found myself with a 500 Internal Server Error page. When opening the CI page, it shows the 'release plugin' button, instead of the 'submit build for plugin update'. (or something like that) I think this might be because I've changed the repository to an organization.

Things I have tried:
- [x] Waited for some time, clicked again.
- [x] Re-enabled Pog

[2017-03-19 01:00] Awzaw commented on #68
Can you try again and give me the error ID?

[2017-03-19 06:47] Sandertv commented on #68
Yes sir, the error ID is `69bf-341e79fc2959728f-AMS`

[2017-03-20 08:04] Awzaw commented on #68
Can you try again now? should be fixed...

[2017-03-20 08:43] Sandertv commented on #68
It works now! Thank you!

[2017-03-20 08:43] #68 closed, assigned to Awzaw

[2017-03-20 19:53] #67 closed, assigned to Awzaw

[2017-03-20 20:14] jasonw4331 commented on #67
Should multisearch give more than one build of each project?

[2017-03-20 20:29] Awzaw commented on #67
It should now link to the project pages, where you can access all the builds

[2017-03-20 20:34] jasonw4331 commented on #67
Maybe you can order them with the released plugins first?

[2017-03-21 20:06] Sandertv opened #69 "Bug: PMMP Button does not remain blue colour when selected"
When hovering over a button in Poggit, the button becomes blue. When you click the button, it will remain that colour until a different button is clicked. When clicking the PMMP button however, this is not the case, and the button will become white again when clicking it.

This is no big issue, but I thought I'd just point it out anyways.

[2017-03-22 17:00] Awzaw commented on #69
Thanks, will fix shortly

[2017-03-22 20:17] jasonw4331 opened #70 "Feature Request: Multisearch on the homepage"
Just for simplicity's sake, can we get a search bar on the homepage or a link to the recent builds? I would rather have a direct link to all of them than to have to scroll down the homepage. Also, it would be nice for when users are logged in with github not to have to go through their own projects to get to the multisearch.

[2017-03-22 20:30] Awzaw commented on #70
I can add a link on the Home page, but how about changing the menu CI link to https://poggit.pmmp.io/ci/recent as it is for guests?

[2017-03-22 21:58] jasonw4331 commented on #70
That would work nicely

[2017-03-23 05:10] Thunder33345 commented on #70
so guest only?

[2017-03-23 07:57] Awzaw commented on #70
I was thinking more along the lines of everyone goes to recent builds at /ci, but only logged in users see the 'My Projects' link, as they do already.

[2017-03-23 09:15] #69 closed, assigned to nobody

[2017-03-23 15:15] #70 closed, assigned to nobody

[2017-03-23 15:28] jasonw4331 opened #71 "Are the 'Building Repo' tags supposed to be like this?"
Are these supposed to be stacked or are they supposed to be displayed horizontally?
![screenshot 2017-03-23 at 11 14 19 am](https://cloud.githubusercontent.com/assets/16521025/24255196/27b8f008-0fbb-11e7-8311-ca27c8ab4b4f.png)

[2017-03-23 16:19] Awzaw commented on #71
thanks, fixed

[2017-03-23 16:19] #71 closed, assigned to nobody

[2017-03-24 17:41] jasonw4331 opened #72 "I have no idea what happened...."
![screenshot 2017-03-24 at 1 40 52 pm](https://cloud.githubusercontent.com/assets/16521025/24306624/90970042-1097-11e7-96a1-c4664f71985d.png)

[2017-03-24 18:01] Awzaw commented on #72
Are you referring to the alignment of the Recent Releases boxes, or that you have logged out?

[2017-03-24 18:46] jasonw4331 commented on #72
The box alignment after logging out

[2017-03-24 20:15] Awzaw commented on #72
fixed!

[2017-03-24 20:15] #72 closed, assigned to nobody

[2017-03-25 20:48] Sandertv opened #73 "Better release listing"
The title says pretty much everything.
I was thinking it could be a good idea to order the Review list on highest score from voting, for example a plugin with 5 upvotes would be at the start of the review list, while a plugin with 5 downvotes would be all the way at the end of the Review list.

I'm not sure if this is a great idea or not, I just thought it'd be a good idea for locating better/wors

[2017-03-27 08:54] Awzaw commented on #73
Maybe - and I might add a stats page showing a summary of plugin scores, votes, downloads etc

[2017-03-28 04:20] SOF3 commented on #73
Yeah, pretty much everything... The current release list is almost only basic.

[2017-03-28 04:29] SOF3 commented on #16
I guess this issue is fundamentally OK. The part about Release List to be replaced by #73.

[2017-03-28 04:29] #16 closed

[2017-03-28 04:31] SOF3 commented on #18
XSS problems mostly shot in https://github.com/poggit/poggit/commit/95df7f85f7562be88f0dde7acbc120a9d6c65082

[2017-03-28 04:31] #18 closed

[2017-03-28 04:34] SOF3 commented on #54
Webhook management and the relevant security management etc. would indeed be a lot of work. I will keep it to GitHub comments.
Also note that there is supposedly a "user timeline" feature, which is a list API for the user's latest notifications, but not webhooks.

[2017-03-28 04:35] #33 closed

[2017-03-28 04:36] SOF3 commented on #53
Does this issue persist?

[2017-03-28 04:38] SOF3 commented on #54
Duplicates #31.

[2017-03-29 07:14] SOF3 opened #74 "Release authors"
Releases should contain a list of real authors to be displayed in the release page. This may or may not be used with credit management.

[2017-03-29 08:28] Thunder33345 opened #75 "Extended badges"
Preferably another option to use the shields standard https://github.com/badges/shields to keep most badges the same

examples would be like
![](https://img.shields.io/badge/Poggit%20Status-Lint%20Pass-brightgreen.svg) ![](https://img.shields.io/badge/Poggit%20Status-3%20lints-brightgreen.svg)

[2017-03-30 06:54] SOF3 commented on #75
@Thunder33345 wanna do it yourself? :D

An advantage of the Poggit badge format right now is that it allows dynamic size, but this is a disadvantage at the same time.

[2017-03-30 08:18] Thunder33345 commented on #75
@SOF3 by doing it yourself i can only do something like so with a link to the poggit repo which works as of now
<img src="https://img.shields.io/badge/Poggit-view-brightgreen.svg"/>
but lets just say it would be better if it was dynamic

[2017-03-31 23:08] jasonw4331 opened #76 "Lint formatting issue"
I'm pretty sure that the box is supposed to be around the text, but in this picture, the text goes out of the box
![screenshot 38](https://cloud.githubusercontent.com/assets/16521025/24572271/3c1a540c-1645-11e7-8279-d49946cfc140.png)

[2017-04-01 09:30] Awzaw commented on #76
Thanks, l'll fix that today - there are other pages that need CSS tweaks for too especially regarding extra-long paths with wordbreak/overflow/scrolling so keep your eyes open. A bootstrap revamp is maybe in the works though :-)

[2017-04-01 22:08] #76 closed, assigned to nobody

[2017-04-02 05:55] SOF3 commented on #76
We should actually make these lint boxes spoilers instead.

[2017-04-02 05:58] SOF3 commented on #75
@thunder33345 I meant a pull request :P

[2017-04-03 09:56] TheDiamondYT1 opened #77 "You can rate your own plugins"
https://poggit.pmmp.io/p/JellyLegs/1.0.1

See my comment on my plugin above, and i could rate it 5/5. This shouldnt be allowed imo.

[2017-04-03 10:34] Awzaw commented on #77
Your own review score isn't taken into account - I'll either forbid leaving reviews on your own plugins, or disable the score drop down

[2017-04-03 10:38] SOF3 commented on #77
Reviewing your own plugin still looks unreasonable despite the score.

[2017-04-03 17:29] Awzaw commented on #77
Removed

[2017-04-03 17:29] #77 closed, assigned to nobody

[2017-04-12 23:59] jasonw4331 opened #78 "Request:"
I noticed that the released plugins turns into reviewed plugins at about the 3rd page. I was wondering why the reviewed plugins were in the released section if they haven't been officially released yet. Is this unintentional or on purpose?

[2017-04-13 04:46] SOF3 commented on #78
We haven't developed an active reviewing community to make some plugins reach the number of upvotes required for the "Voted" state yet, and we don't have enough manpower to approve plugins (enough for "Checked" but not enough for "Approved"), so we are showing "Checked" plugins for the while.

[2017-04-13 04:46] #78 closed, assigned to nobody

[2017-04-14 07:03] #31 closed

[2017-04-14 07:03] SOF3 commented on #54
Webhooks might be a better choice after all.

[2017-04-17 07:26] SOF3 opened #79 "Some link buttons not using <a>"
Not using `<a>` in link buttons, such as "Direct Download" in the plugin release page.
https://forums.pmmp.io/threads/visbile-direct-download-links.1739/#post-19703

[2017-04-22 03:02] SOF3 opened #80 "Page not switched when travelling in history"
This is reported in neighbordog/jquery-paginate#2

[2017-04-22 03:15] SOF3 opened #81 "Ignore files when building"
Currently, the files that get included in a build only include resources/, src/ and plugin.yml as in the default project builder, as well as a stub file (only one file) if specified in .poggit.yml.

This issue proposes the addition of extra files to include/exclude using the .poggit.yml, or a .poggitignore file.

For example, in .poggit.yml:

[code]

Or a .poggitignore file, using the (probably) s

[2017-04-22 03:16] SOF3 commented on #79
Closing this issue as resolved unless other similar problems are found.

[2017-04-22 03:16] #79 closed, assigned to Awzaw

[2017-04-22 03:24] SOF3 opened #82 "/p/PluginName defaults to oldest version"
For example, /p/EconomyAPI currently displays v5.0 while it should display the latest (v5.7).

[2017-04-24 12:36] #82 closed, assigned to SOF3

[2017-04-24 13:07] #75 closed, assigned to nobody

[2017-04-24 13:22] SOF3 commented on #75
Implemented in endpoint /ci.shield

For example:
`https://poggit.pmmp.io/ci.shield/pmmp/PocketMine-DevTools/~` ![](https://poggit.pmmp.io/ci.shield/pmmp/PocketMine-DevTools/~)
`https://poggit.pmmp.io/ci.shied/poggit/libasynql/PoolExample` ![](https://poggit.pmmp.io/ci.shield/poggit/libasynql/PoolExample)

[2017-04-24 16:13] SOF3 commented on #54
Webhooks will be implemented in a way similar to that in Travis-CI. Available actions should include "email", "slack", "gh-comment", "webhook" and "notifico".
I don't want to play with crypto stuff, so there may be an internal key storage uploaded to Poggit directly.

[2017-04-28 10:10] SOF3 opened #84 "DefaultProjectBuilder stubs"
DefaultProjectBuilder only accepts one stub file and forcefully copies it to "stub.php", which is poor behaviour.

Correct behaviour: allow user to specify stub file **and optionally other folders to include**, make sure they are all added to phar. Do not rename/copy it into `stub.php`.

[2017-04-30 03:53] #81 closed, assigned to SOF3

[2017-04-30 10:36] SOF3 commented on #84
Fixed in c388dec

[2017-04-30 10:36] #84 closed, assigned to SOF3

[2017-05-01 18:18] jarne opened #85 "Window icons missing"
In all windows on Poggit, which are jQuery UI windows I think, the close-icons are missing. When you download jQuery UI, there is a folder named "images" where the icons are in. This folder must be placed in the same folder like jQuery UI's CSS file.

No important issue, but I've just noticed it because I've also forgot it this morning.

Now:

<img width="902" alt="ohne titel" src="https://cloud.g

[2017-05-02 19:41] Awzaw commented on #85
Thanks, we were using the CDN so it was probably related to the load order with bootstrap. Loading everything from the server instead now, should be fixed.

[2017-05-02 19:41] #85 closed, assigned to Awzaw

[2017-05-02 21:17] Awzaw commented on #80
I just fixed an error whereby on reload the page-next button was  sometimes broken, did 87d1c8b5ec1d53ceff07bb4b131acdd1ae760a1a fix this one too?

[2017-05-04 01:41] SOF3 commented on #80
Still happening. On Chrome 58.0 on Windows 8.1

[2017-05-04 02:52] SOF3 commented on #80
Also note that this issue only happens **when switching pages between different pages**. This does not happen if the page is changed (not just the hash).

[2017-05-04 08:02] Awzaw commented on #80
Now I see what you mean

[2017-05-04 16:25] Awzaw commented on #80
Fixed by 99386e86dd2ecaff262f1a239c12cd2aa7e50683 :-)

[2017-05-05 08:35] SOF3 commented on #80
Nice 👍

[2017-05-05 08:35] #80 closed, assigned to nobody

[2017-05-05 09:42] SOF3 opened #86 "Virion API intersection"
The virion infection script should also modify the `api` of the host, setting it as the intersection of the host `api` and the virion `api`.

[2017-05-05 13:57] jasonw4331 opened #87 "Multiple labels of the same plugin?"
notice on the right, there are repeat labels of the projects I have recently enabled
![screenshot 2017-05-05 at 9 50 26 am](https://cloud.githubusercontent.com/assets/16521025/25748464/224f2b16-3179-11e7-8621-2c608aa08733.png)

[2017-05-05 14:01] SOF3 commented on #87
Note: it's builds, not releases.

[2017-05-05 14:05] jasonw4331 commented on #87
they all say its build 1

[2017-05-05 22:26] Awzaw commented on #87
Fixed

[2017-05-05 22:26] #87 closed, assigned to Awzaw

[2017-05-06 11:08] #59 closed, assigned to SOF3

[2017-05-07 07:19] #14 closed

[2017-05-15 01:55] SOF3 opened #88 "Show virion usage"
Virion developers should be able to see which (public) projects are using their virions.

[2017-05-15 05:00] SOF3 opened #89 "An endpoint to download virion directly"
Using the same logic as that used in virion building, e.g. `/virion/RepoOwner/RepoName/ProjectName/VersionName`.

[2017-05-19 21:43] MisteFr opened #91 "Can't login using my Github account"
This the error, i tried four times but it doesn't work
![capture d ecran 2017-05-19 a 23 41 58](https://cloud.githubusercontent.com/assets/17687222/26267916/d78d3530-3cec-11e7-83dd-e3db6145a70f.png)
This was my fisrt time on poggit

[2017-05-19 23:30] Awzaw opened #92 "CurlUtils::testPermission() bug"
Reviewing is broken for certain users on some repos depending on the results of testPermission().

Caused by self::$tempPermCache[$internalKey] at [line 266](https://github.com/poggit/poggit/blob/c6f69b761339324f7886524763848eebb1584341/src/poggit/utils/internet/CurlUtils.php#L226) which is sometimes an array, sometimes an object...

[2017-05-19 23:38] Awzaw commented on #91
Can you try again now?

[2017-05-20 05:10] MisteFr commented on #91
Ok

[2017-05-20 05:23] SOF3 commented on #91
Fixed in 84d45794865389c72cb7e2d6f4119530a1f2aef9

[2017-05-20 05:23] #91 closed, assigned to nobody

[2017-05-21 05:06] SOF3 opened #93 "GFM formatting"
GFM returns `<code>` for code spans. The CSS in Poggit displays them as blocks while they should be inline.

See https://poggit.pmmp.io/p/Hormones/ for example.

[2017-05-21 09:36] Awzaw commented on #93
Changed in 86ed50f00467721ca2cca1bda2ee84fdc9fbc0d9. I wouldn't be surprised if removing this will require CSS tweaks for other plugins, however :-/

[2017-05-21 09:39] SOF3 commented on #93
Seems to be fixed.

[2017-05-23 12:37] TheDiamondYT1 commented on #21
I think the UI could be a *bit* nicer. Look at a plugin page on Bukkit https://dev.bukkit.org/projects/jarvis. Im not saying lets copy them, but it looks really nice. Even adding maybe a few `<hr>` tags and changing the background could make it look nicer. I would do it myself but i cant install poggit :/

[2017-05-23 13:03] Awzaw commented on #21
There's UI improvement needed and we'll get to that in due course... but don't forget that Bukkit.org uses a CMS as it's only a plugin list, whereas Poggit was build from scratch. And page loads for plugins on Poggit are twice as fast as Bukkit ;-)

[2017-05-23 13:09] TheDiamondYT1 commented on #21
@Awzaw I know, im just giving an example of a nice looking plugin repository

[2017-05-26 15:21] SOF3 opened #94 "ProjectBuildPage release link is wrong"
It uses the release ID rather than the release version as the last part:

[code]

It should actually be:

[code]

[2017-05-26 16:41] Awzaw commented on #94
Fixed in 58a7979e7581a9b449a09b2223ae1a69b2aaa98b

[2017-05-26 16:41] #94 closed, assigned to nobody

[2017-05-27 06:43] Sandertv opened #95 "Bug: Save as Draft submits the release"
Hi,
When trying to release a plugin today I, I noticed something weird. I chose a release that had no icon because the slash was a backslash, so I fixed that on a later commit. I then saved it as draft, so I could use it for the fields I'd have to fill out again to release the new commit.

When I selected the new commit for release, I noticed that all the fields WERE still there, but when I tried

[2017-05-27 10:29] Awzaw commented on #95
I see what you mean, but since any change at all to the package (see section 3 are semver.org) 'should' involve a change to the version according to semver's guidelines, this might be a moot point depending on your interpretation of semver's guidelines. What do you think @SOF3 ?

[2017-05-27 12:04] SOF3 commented on #95
@Awzaw Since a draft is not released, the rule probably doesn't apply since you don't have to bump a version every release.
I recommend only allowing one draft release per project which isn't linked to a specific build, with the version name "draft".

[2017-05-30 06:00] inxomnyaa opened #96 "Forks can not be buildt / stuck at "loading information" at https://poggit.pmmp.io/ci"
When clicking the buildt toggle to turn on on a repo that is forked, the build will not start.
![image](https://cloud.githubusercontent.com/assets/8733998/26569917/e21abc60-450d-11e7-8cef-ebe613575ad3.png)
Affects: https://poggit.pmmp.io/ci
Repo where the issue appears: https://github.com/thebigsmileXD/BetterGen

[2017-05-30 14:48] Awzaw commented on #96
It's nothing to do with repos being forked; that repo is is larger than the current Poggit 10MB repo limit.

[2017-05-30 14:58] SOF3 commented on #96
Poggit definitely does not take forks into consideration anywhere except for displaying the fork icon in the CI admin page.

[2017-05-30 14:58] #96 closed, assigned to nobody

[2017-05-30 22:56] inxomnyaa commented on #96
Then please add this as information on the loading details screen. ty.

[2017-06-10 00:13] #95 closed, assigned to nobody

[2017-06-18 16:00] #93 closed, assigned to Awzaw

[2017-06-18 16:01] SOF3 commented on #73
We still need a "sort by votes" and "sort by downloads"

[2017-06-18 16:09] SOF3 commented on #45
In simple words, "Foo depends on Bar" vs "Foo is an associate of Bar":

| Dependency | Association |
| :---: | :---: |
| Both Foo and Bar are listed in /pi | Foo is not listed in /pi. Only Bar is listed in /pi. |
| Foo and Bar are downloaded separately | Bar's download button should link to a zip containing both Bar.phar and Foo.phar, with smaller buttons displaying individual phar downloads for b

[2017-06-18 16:11] SOF3 commented on #22
This is quite impractical now. I'm closing this.

[2017-06-18 16:11] #22 closed

[2017-06-18 16:11] SOF3 commented on #17
Assigned to @KnownUnown in [Sheep](https://github.com/KnownUnown/Sheep).

[2017-06-18 16:11] #17 closed

[2017-06-19 08:04] Awzaw commented on #45
Got it :-)

[2017-06-19 08:42] Awzaw commented on #45
"Foo is not listed in /pi. Only Bar is listed in /pi"
How do you suggest we manage an associated Foo's release status? It should presumably be >=approved to qualify as an associated plugin, and yet we don't want it in /pi; a new 'parent_releaseId' column in releases?

[2017-06-19 09:28] SOF3 commented on #45
Yeah, that's a good way.

[2017-06-19 18:36] Awzaw commented on #45
Do we allow multiple parents? I've started with only one... and I'm assuming users can only associate their own plugins.

[2017-06-20 00:55] SOF3 commented on #45
Yet. Also, a parent release must not be the child of another.

[2017-06-20 00:55] SOF3 commented on #45
Yep*

[2017-06-20 07:14] Awzaw commented on #45
Was that a 'yep' for multiple parents too? I'm hoping not...

[2017-06-20 07:43] SOF3 commented on #45
Yep for only associating own plugins.
Parent plugin + children plugins = one package. It doesn't make sense to add your plugin into others' package, or to have multiple "main" plugins in the same package.

[2017-06-24 22:39] TheDiamondYT1 opened #100 "Duplicated entries in releases.json"
Below is the output of the following code
[code]

##### Output

[code]

##### P.S. 100th issue :D

[2017-06-25 04:19] jasonwynn10 commented on #100
This links to Poggit/support#45

[2017-06-25 05:22] SOF3 commented on #100
No, @jasonwynn10, your issue is about review queue, while releases.json is about the release list.

[2017-06-25 05:24] SOF3 commented on #100
Each entry in releases.json represents a **version** of a plugin. By default, iirc, releases are ordered by descending submission date, so the first occurrence in the array for each distinct plugin is the latest release for it.
You may identify versions of the same plugin by comparing equal `project_id`.

[2017-06-25 05:24] #100 closed, assigned to nobody

[2017-06-25 09:21] TheDiamondYT1 commented on #100
@SOF3 Can i have a quick pseudo example of checking the same project id and finding the highest version of a plugin? Its in a foreach loop so i cant think how

[2017-06-26 02:14] eqMFqfFd opened #101 "Tip: Update the site theme and give it an easier interface"

[2017-06-26 02:30] SOF3 commented on #101
Poggit's theme was initially made to be generally similar to that of GitHub. Personally, I hate excessive colors.

[2017-06-26 02:34] SOF3 commented on #101
Because Poggit is not merely a plugin download/upload site. It should be made to be easy to download plugins, but for submitting plugins, the flow is a bit different. I admit that the UI is not very user-friendly right now, but an interface like the forums one is not suitable here.

[2017-06-26 02:35] SOF3 commented on #101
Closing as this duplicates #21

[2017-06-26 02:35] #101 closed, assigned to nobody

[2017-06-28 16:52] SOF3 opened #104 "Better session management"
It is currently undefined when a session is created during execution, and it is hard to ensure whether the session should be immediately closed (for unlocking) after being read.
This is module-dependent and should be done before calling Module::output().

[2017-07-05 08:11] Awzaw commented on #100
I don't know exactly what you are trying to do, but if you have the plugin name you can call  https://poggit.pmmp.io/releases.json?name=SimpleAuth for example.

[2017-07-05 14:41] SOF3 commented on #100
[code]

If you don't want to rely on Poggit's latest-first response order, you can also add another check:

[code]

[2017-07-10 23:48] catgirlinspace commented on #54
Yay!

[2017-07-22 15:37] inxomnyaa opened #106 "Add better explaination how to create virons/libraries"
And when to use them. Example you often told me to make a viron/library: BossBarAPI.

[2017-07-22 15:50] inxomnyaa commented on #106
Maybe also add a Wiki

[2017-07-26 16:55] SOF3 commented on #106
The initial proposal: #14
The official ~~specification~~ half-specification-45%-documentation-5%-tutorial: https://github.com/poggit/support/blob/master/virion.md (quite incomplete)

I shall update virion.md in the future.

[2017-07-26 17:06] inxomnyaa commented on #106
As of #14 i'll close as duplicate

[2017-07-26 18:35] SOF3 commented on #106
N.B. #14 is only the initial proposal and is inconsistent with the current implementation from several aspects.

[2017-07-26 20:09] inxomnyaa commented on #106
Well then.. May i open a new issue with CSS concepts for poggit to make it way more user friendly? ( #21 )

[2017-07-29 03:03] SOF3 opened #107 "Optionally create tags for the repo when releasing"

[2017-07-30 16:12] SOF3 opened #108 "Cannot submit drafts"
https://twitter.com/hoyinm14mc/status/891629577172168706

[2017-07-30 16:13] SOF3 commented on #108
![image](https://user-images.githubusercontent.com/19623715/28755065-0e3fae66-7585-11e7-90c0-e23e9b148099.png)

[2017-07-31 05:01] #108 closed, assigned to nobody

[2017-08-03 14:38] SOF3 commented on #106
https://github.com/poggit/support/blob/master/virion.md

[2017-08-03 14:38] #106 closed, assigned to nobody

[2017-08-09 10:56] inxomnyaa opened #110 "Librarys don't check for viron.yml in the correct path"
I created a repo, where i defined /library as viron module. In it is viron.yml.

It checks for the viron.yml in the root path of the repo instead of the corresponding path

https://github.com/thebigsmileXD/customui ( -> poggit.yml, see "path" key)

[2017-08-10 09:25] inxomnyaa commented on #110
issue was that its called vir**i**on.

[2017-08-10 09:25] #110 closed, assigned to nobody

[2017-08-22 19:54] Teaftc opened #111 "help"
Please use the installer provided on the homepage, or recompile PHP again.
How to install

[2017-08-23 00:49] SOF3 commented on #111
Please use the PMMP forums.

[2017-08-23 00:49] #111 closed, assigned to nobody

[2017-08-26 09:18] #89 closed, assigned to nobody

[2017-08-26 14:17] SOF3 opened #112 "Unify URLs"
Use [`history.replaceState()`](https://developer.mozilla.org/en-US/docs/Web/API/History_API) to correct URLs in modules with multiple names.

For example, `/plugins` vs `/pi`, `/b` vs `/ci`

[2017-08-28 14:48] SOF3 commented on #10
Closed because it is obsolete.

[2017-08-28 14:48] #10 closed

[2017-08-28 14:52] #28 closed

[2017-08-29 16:25] SOF3 opened #113 "Combination of ProjectBuildPage and BuildBuildPage"
ProjectBuildPage and BuildBuildPage have very little information to display. On desktops, it is best if they are combined such that clicking on a build in the build list opens its details.

URL BC will be preserved through location.pushState().

I am uncertain how to implement this on mobile.
@Awzaw Any UI tips for that?

[2017-08-29 16:29] SOF3 opened #114 "ReleaseDetailsModule is not showing access-denied errors properly"
It redirects without saying anything.

[2017-08-31 11:19] Awzaw commented on #113
Maybe JQuery tabs?

[2017-08-31 13:21] SOF3 commented on #113
I'm thinking if popups would be a better idea on mobile.

[2017-09-09 11:09] #112 closed, assigned to nobody

[2017-09-10 06:53] SOF3 opened #116 "Make online user list storing async"
It can be done through a separate AJAX in std.js

Although MySQL queries are very fast, the current way still slows down each page response a bit.

[2017-09-10 10:01] #113 closed, assigned to SOF3

[2017-09-10 10:01] #92 closed, assigned to SOF3

[2017-09-10 10:01] #74 closed, assigned to nobody

[2017-09-10 10:02] SOF3 commented on #15
This issue is a bit too vague... Let's close this.

[2017-09-10 10:02] #15 closed

[2017-09-10 10:03] SOF3 commented on #26
Update: There is a `buildsAfterThis` column in the ci.build.info API right now

[2017-09-10 10:04] SOF3 opened #117 "Containerization and Composer Support"
Note: I have no idea how to use containers at all.

[2017-09-22 12:51] #86 closed, assigned to SOF3

[2017-09-22 12:51] #88 closed, assigned to SOF3

[2017-09-23 07:30] SOF3 opened #118 "Duplicate rows"
https://github.com/poggit/poggit/blob/5b7a561bf56367580967d5e199924c6346713b0e/src/poggit/release/index/MainReleaseListPage.php#L68-L74

These JOINs are causing duplicate rows.

[2017-10-11 07:47] Sandertv opened #121 "Internal Server Error attempting to update a plugin"
After a couple months I decided it was time to push an update to poggit again, but when attempting to do so, I got a `500 Internal Server Error`.
I tried updating by going to CI -> BlockSniper -> Build History -> Action -> Update. As soon as clicking the `Update` button, the error showed up.

![image](https://user-images.githubusercontent.com/16114089/31427895-2ebfd608-ae69-11e7-94b2-e6898ce9d296.

[2017-10-11 09:51] Awzaw commented on #121
Was the project renamed?

[2017-10-11 09:52] Sandertv commented on #121
It wasn't renamed, but it was moved from my GitHub account to an organisation some time ago.

[2017-10-11 10:13] Awzaw commented on #121
Can you try this?  Get the project ID from the project page and add it as "projectId: xx" in .poggit.yml

[2017-10-11 10:26] Sandertv commented on #121
The following:
https://github.com/BlockHorizons/BlockSniper/commit/966ba5235fa3999c68c7504cb1275c54fd41f269
continued to give the error.

[2017-10-11 10:52] Awzaw commented on #121
Poggit is looking for your .yml file in the root folder, not in the .poggit subfolder.... try moving it up a level.

[2017-10-11 10:55] Sandertv commented on #121
That works, thanks!

Weird it does build correctly when it's in that folder though.

[2017-10-11 11:24] Awzaw commented on #121
It should work there too, yes, so I'll leave this open

[2017-10-11 15:21] SOF3 commented on #121
.poggit/.poggit.yml was a legacy location of the file, when Poggit was just started and I expected there to be more than one file related to Poggit. Ends up that all files you need with Poggit can just be referenced directly (e.g. `icon`).

[2017-10-20 09:04] SOF3 opened #123 "Curl::curlToFile() may be malfunctioning"
This occasionally occurs, as the error message:

[code]

[2017-10-26 23:56] inxomnyaa opened #124 "LInt on anonymous classes"
See: https://poggit.pmmp.io/babs/7646

[2017-10-27 13:07] SOF3 commented on #121
.poggit/.poggit.yml should be deprecated. I shall send out deprecation notice now.

[2017-10-27 14:22] SOF3 commented on #121
.poggit/.poggit.yml has been officially deprecated.

[2017-10-27 14:22] #121 closed, assigned to nobody

[2017-10-27 14:23] SOF3 commented on #114
Fixed in 8010e70d11fa515c53cf0767697037da9c4a3dbd

[2017-10-27 14:23] #114 closed, assigned to SOF3

[2017-10-27 17:22] SOF3 commented on #73
It still doesn't look nice, but I can consider it resolved.

[2017-10-27 17:22] #73 closed, assigned to Awzaw

[2017-10-27 17:23] SOF3 commented on #53
Is still issue still valid?

[2017-10-27 17:29] Sandertv commented on #53
I can't tell, as none of my plugins have any reviews.  (anymore)

[2017-10-28 03:06] SOF3 opened #126 "Release sorting does not work with pagination"
When there is pagination, the Sort button only sorts the current page.

[2017-10-28 03:15] SOF3 opened #127 "Organize filters"
Add more filters, and put them in a dialog like Sort.

[2017-10-28 08:17] #116 closed, assigned to SOF3

[2017-10-28 14:23] SOF3 opened #129 "Minimize use of blocking /user/repos"
/user/repos calls are making many pages respond significantly slower, including MemberHomePage and some CI pages.

The situation can be improved by populating the required resources significantly, and for security-related queries, the values can be cached.

[2017-10-29 10:07] SOF3 opened #130 "More shields"
We can add shields like these:

![](https://img.shields.io/badge/poggit%20release-featured-brightgreen.svg)
![](https://img.shields.io/badge/poggit%20release-approved-green.svg)

![](https://img.shields.io/badge/release%20api-3.0.0--ALPHA9-brightgreen.svg)
![](https://img.shields.io/badge/release%20api-3.0.0--ALPHA7-yellowgreen.svg)
![](https://img.shields.io/badge/release%20api-2.1.0-red.svg)

![

[2017-10-29 16:58] robske110 opened #131 "No easy/obvious way to get from builds page to releases"
For some instances the [R] is buried well below tens of builds and you have to scroll and spam the "Load more builds" buttons to get to it.
I'd suggest to have a big button "To the latest release" above the buildlist.

[2017-10-29 18:31] Awzaw commented on #131
Sounds good, also the `R` only appears in repos for which you have admin access

[2017-10-30 04:55] HimbeersaftLP commented on #130
How about (release|version) and (release|commit) too?

[2017-10-30 19:42] Awzaw commented on #131
I've made some changes to this: it'll now show you your latest release and prerelease (even if only submitted, for your own plugins). Still not perfect as the 'update' option still shows for builds you are not allowed to use because you already submitted a release, for example.

[2017-10-31 16:43] Ad5001 opened #132 "Updating an not approved plugin"
I was uploading a plugin on poggit that I uploaded as a release. After that, I realized that I made a mistake, which I commited. But I could not "update" the not approved plugin on poggit. I had to delete the release.
But with a recent poggit update, it looks like the delete release button is gone.

[2017-10-31 16:48] robske110 commented on #132
You can restore to draft and then update the draft as far as i know.

[2017-10-31 16:52] Ad5001 commented on #132
Don't see any button for that either...

[2017-10-31 16:55] robske110 commented on #132
Well, that's (probably?) a bug then. I have restored the release to a draft for you. Now you can submit a new release with the same version name.
Was this button really not there for you?
<img width="1078" alt="data" src="https://user-images.githubusercontent.com/16020100/32237213-a9536500-be64-11e7-8f4d-3c7923d88615.png">

[2017-10-31 17:04] Ad5001 commented on #132
I don't even see the edit button. Maybe it changed location and I didn't found it? Btw, here's what I see on the draft:
https://screenshots.firefox.com/azHg4YbCbHLB9UCH/poggit.pmmp.io

[2017-10-31 17:05] Ad5001 commented on #132
Thanks anyway.

[2017-11-02 16:02] SOF3 opened #133 "Better submit response"
SubmitModule takes too long to respond (sometimes taking up to 5 seconds because a lot of data from GitHub need to be prepared). Consider making it a static page that loads the submitData (and the submitFormToken) from an AJAX request.

[2017-11-02 16:09] SOF3 opened #134 "Release subscription"
When a logged-in user downloads a plugin, store his UID with the plugin project ID. This can help with security notices like the one we recently had on DevTools, or just the long-awaited release subscription we were planning to do like more than half a year before.

[2017-11-04 13:18] lukeeey opened #135 "Minor issues / suggestions"
I think some minor UI updates could be in order. These are my *minor* suggestions / complaints.

It may also help (in my opinion) to add a few \<hr> tags in these places

![screenshot_2017-11-04-13-12-36](https://user-images.githubusercontent.com/32024335/32405724-9b59d21c-c162-11e7-910f-199384ba0a07.png)

-----

Why isn't the author and plugin name on the same line?

![screenshot_2017-11-04-13-25

[2017-11-04 13:52] lukeeey opened #136 "Remove plugin"
How do i remove my plugin https://poggit.pmmp.io/p/JellyLegs?

[2017-11-04 15:18] Awzaw commented on #135
Fixed 1, 2, 4. For 3, I'm not a fan of `<hr>` but why not... they used to be there and I deleted them because to me they are the best way to make any site look 10 years old, along with frames, tables and flashing buttons. For 5, it's hard making sure Poggit displays perfectly on mobile, tablet and desktop, not forgetting all the different browsers... so I think that's forgiveable. And the last one

[2017-11-04 16:08] Awzaw commented on #136
I've set it back to draft, and you can disable the repo or request a compete delete

[2017-11-04 16:50] SOF3 commented on #135
For 6, it's because @Awzaw copied everything from the old submit form HTML, made the controls disabled and filled the values. It's actually not designed well for displaying.

We could consider adjusting the minimum screen width to use two horizontal divs ("desktop" view) rather than a straight long line ("mobile" view).

[2017-11-04 18:17] Awzaw commented on #135
@sofe exactly, which reminds me that the non responsive table issue is still a problem in the new submit page, for dependencies, manual setup and supported APIs.

[2017-11-04 19:56] lukeeey commented on #136
While it's in draft, would it be possible to submit a plugin under the same name on my new account?

[2017-11-04 20:28] lukeeey commented on #135
A few other issues, that aren't all related to the UI but aren't life changing so dont deserve another issue

* [x] The API Documentation link on the developer dashboard is broken (https://poggit.pmmp.io/help.api returns 404)
* [x] The PQRS link on the plugin edit page links to the homepage
* [ ] ~~The authorizations page table is not bordered. Was this intended?~~

### Plugin page
* [ ] ~~Maybe s

[2017-11-04 20:56] Thunder33345 commented on #136
please try to use poggit/support next time for support related questions

[2017-11-04 21:15] lukeeey commented on #136
Oh yeah lol

[2017-11-05 03:38] SOF3 commented on #136
Just transfer your repo to another GitHub account, or rename your GitHub account. Poggit uses the GitHub repo owner name as the plugin author name.

[2017-11-05 05:01] SOF3 commented on #130
I'm not very sure about the "approved" badge, because it is meaningless once the first version is approved.

[2017-11-05 10:21] SOF3 commented on #130
Implemented in f404ddc:

![](https://poggit.pmmp.io/shield.dl/DevTools) https://poggit.pmmp.io/shield.dl/DevTools
![](https://poggit.pmmp.io/shield.dl.total/DevTools) https://poggit.pmmp.io/shield.dl.total/DevTools
![](https://poggit.pmmp.io/shield.dl.total/Colormatic) https://poggit.pmmp.io/shield.dl.total/Colormatic
![](https://poggit.pmmp.io/shield.approved/DevTools) https://poggit.pmmp.io/shie

[2017-11-05 12:52] HimbeersaftLP commented on #130
In my opinion the Poggit badges shadow is too opaque/dark when compared to other "shield-type" badges (e.g. Travis) which makes it look more "early 2000s pseudo 3D"
![Poggit and Travis badges compared](https://i.imgur.com/1PjNeYAl.jpg)

[2017-11-05 13:04] SOF3 commented on #130
You can add a style parameter, e.g. ![](https://poggit.pmmp.io/shield.spoon/DevTools?style=for-the-badge&left=https://poggit.pmmp.io/p/DevTools&right=https://github.com/pmmp/PocketMine-MP/tree/api/3.0.0-ALPHA9) https://poggit.pmmp.io/shield.spoon/DevTools?style=for-the-badge

[2017-11-05 13:11] HimbeersaftLP commented on #130
Why does it default to plastic though?

[2017-11-05 13:27] SOF3 commented on #130
Because it's the first one in the shields.io list, and I thought it was the default :P
(yes, now I see the line above)

[2017-11-05 17:06] Awzaw commented on #135
85deeab4 fixes help.api link
5858d809 fixes PQRS link

Yes, but it should be responsified too.

Aiming for fewer boxes, not more, so probably not.

It looks pretty obvious to me... Again, I think the fewer buttons, the better; and since this is only an informational popup it doesn't really deserve its own button.

For Dialogs, I've allowed word-break in accept/reject, and removed the caps, but the

[2017-11-05 20:02] #136 closed, assigned to nobody

[2017-11-05 20:10] lukeeey commented on #135
![screenshot_2017-11-05-20-08-22](https://user-images.githubusercontent.com/32024335/32418607-29b3a8aa-c265-11e7-96ed-fac1bfe8a5f3.png)

That "How to install?" text does looks very much like the "Switch version" text (which is a label, and not a link).

And is there a reason i'm not seeing the voting buttons? @Awzaw

[2017-11-05 20:18] Awzaw commented on #135
Yes, only 'checked' plugins can be upvoted for community approval - approved plugins don't need to be.

Responsified Requirements/Enhancements in a610a5233.
Keywords were required before but not any more, so now hidden if empty, and I've cleaned up 'Producers' section.

[2017-11-05 20:28] lukeeey commented on #135
lol

![screenshot_2017-11-05-20-25-57](https://user-images.githubusercontent.com/32024335/32418776-e29b5a28-c267-11e7-9ffd-0c46e09735ac.png)

[2017-11-05 22:02] Awzaw commented on #135
Tablet display isn't a priority I'm afraid: there will always be someone with a screen size on which some things don't look great, and the same goes for most websites. That said, I've added a max-width to that box.

[2017-11-05 23:35] Awzaw opened #137 "Submit/Update/Edit TODOs"
- [x] Editing an associated plugin requires the user to re-enter the parent plugin manually before 'Save'.

- [x] Associated plugins cannot list the parent as a required dependency. This might be deliberate... but it should be clear that the parent is a required dependency, not just part of the list of associated plugins.

- [x] When editing a plugin which is > checked, the user is allowed to add

[2017-11-07 14:32] SOF3 opened #138 "List of things to be added in PHP lint rewrite"
I'm only talking about parsing each PHP file. Build-related problems including missing plugin.yml, missing stub, etc. aren't included.

* PHP problems
  * syntax errors
  * dead code. We've got enough `return true; break;`, whichever idiot started it on day one.
  * PSR-0 inconsistency
* Bad practice
  * Declaration of symbols in the global namespace (esp. constants)
  * Use of PHP controls that a

[2017-11-10 09:46] Awzaw commented on #132
Fixed?

[2017-11-10 09:47] #131 closed, assigned to nobody

[2017-11-10 17:13] Ad5001 commented on #132
Yes, looks as so.

[2017-11-10 17:13] #132 closed, assigned to Awzaw

[2017-11-11 17:26] SOF3 commented on #130
@Awzaw If you have time, please add the supported badges to somewhere appropriate in ReleaseDetailsModule. (Probably only to the owner(s))

[2017-11-11 17:27] SOF3 commented on #129
This has been partially resolved through migrating some calls to GraphQL as in 31d44d572bf2dbee67b472a62e53c3cb385fa23b

[2017-11-11 17:29] SOF3 commented on #124
Won't fix. Replaced by #138

[2017-11-11 17:29] #124 closed, assigned to nobody

[2017-11-11 21:28] Awzaw commented on #130
By "Add' do you mean provide a link to copy for each badge? Or markdown? Or both?

[2017-11-12 04:05] SOF3 commented on #130
Maybe both, like what we did with CI badges before?

[2017-11-12 07:46] #133 closed, assigned to SOF3

[2017-11-14 17:05] SOF3 opened #140 "SelfBuildPage showing organization repo states incorrectly"
This is due to the recent change for GraphQL, but I'm not sure how exactly the error is.

[2017-11-14 17:08] SOF3 opened #141 "Reviews not displayed effectively"
Problem in ReleaseDetailsModule:
* There is a large gap between the main content (changelog) and the reviews.
* Could also add a button to skip to review
* Show review summary, e.g. mean score

Problem in ReleaseListModule:
* pluginPanel does not display reviews, although it's in the HTML data.

[2017-11-14 18:05] Awzaw opened #142 "Non-editable releases no longer display an error message on "Edit Release""
![screen shot 2017-11-14 at 18 54 31](https://user-images.githubusercontent.com/10437212/32795859-51ba484a-c96d-11e7-9d49-b5d45adc015b.png)

In addition to fixing the error message, should the "Edit" button for draft/rejected releases that can no longer be edited be disabled or hidden? I suggest disabled with pop-up or tooltip to avoid confusion as to why they can no longer be edited.

[2017-11-17 13:51] SOF3 commented on #140
Correct fix: Instead of only querying GitHub to list org repos, also query Poggit's database for related projects in the fetched repos.

[2017-11-17 15:35] #140 closed, assigned to SOF3

[2017-11-18 08:57] #142 closed, assigned to nobody

[2017-11-18 13:10] SOF3 opened #143 "Anchor hyperlinks in release description not working"
Due to different policies of creating hyperlinks, the hyperlinks in the description may not work. Also, they may not switch the page correctly.

[2017-11-18 13:12] SOF3 commented on #129
The performance looks pretty good now.

[2017-11-18 13:12] #129 closed, assigned to SOF3

[2017-11-18 13:40] SOF3 opened #144 "RepoBuildPage Direct Download button does not show security warning"

[2017-11-18 14:07] #130 closed, assigned to Awzaw, SOF3

[2017-11-18 14:07] SOF3 commented on #141
Same for download count.

[2017-11-18 15:33] SOF3 opened #145 "Boring stats width"
Should add an explicit CSS property `max-width: unset;`

[2017-11-19 13:04] #144 closed, assigned to nobody

[2017-11-19 13:04] #145 closed, assigned to nobody

[2017-11-20 04:58] HimbeersaftLP commented on #144
A "don't show this again" option would be nice?

[2017-11-21 07:56] SOF3 opened #146 "Promoting /pi over /dev"
Non-developers should totally ignore /ci unless they are downloading development builds for a specific project after trying its releases, or unless the plugin is still in pre-release stage (e.g. WorldEditArt-Lite).

Possible tasks:
- navmenu
  - [x] "Release" moved in front of "CI", renamed to "Releases" as of 23b41b55e59ecb9f04e593dcabb845c29ec95667
  - [x] "CI" is renamed to "Dev" as of 39d209b3

[2017-11-21 14:19] SOF3 opened #147 "Add an extensions field to the submit form"

[2017-11-24 07:28] SOF3 opened #148 "rsr_dl_ips should also store latest download date and exact #downloads"
[code]

[2017-11-24 08:31] #148 closed, assigned to SOF3

[2017-11-26 14:09] SOF3 opened #149 "Resource Cleaning and Compression"
Resources (rsr, not res) can be compressed if created too long ago.

Here are several possible actions:
* Create a kidney in a cronjob/background process that manages resources:
  * Check for expired resources. Delete regularly if found.
  * Check for garbage resources. If a row in `resources` is not referenced in `builds.resourceId`, `releases.artifact`, `releases.description`, `releases.changelo

[2017-11-26 15:53] SOF3 opened #150 "Move the "Authorize" button into Settings"

[2017-11-28 20:10] Awzaw opened #151 "Dependencies/Associates select oldest version by default"
On the submission page the list of dependencies and associates should be ordered by most recent desc with the latest release selected, but instead show the oldest first because the ajax returns an (unordered) object instead of an array.

[2017-11-29 15:48] SOF3 opened #152 "Vulnerability alerts"
Create a vulnerability alerts vendor, which can be used in Sheep or a standalone plugin.
Only applies for /p/. Things in Poggit-CI are not included, because they are always risky anyway.

[2017-11-30 10:08] Awzaw commented on #151
Fixed by 5b81d937 and previous commits. Maybe not a perfect solution, but by far the most simple.

[2017-11-30 10:08] #151 closed, assigned to nobody

[2017-12-01 03:02] SOF3 commented on #118
Does this still exist?

[2017-12-01 07:46] Awzaw commented on #118
That depends if you mean duplicate rows returned by the query, or visible in the UI. The latter is fine, but some tables such as keywords are not normalised which is why we have to eliminate duplicate rows in the loop.

[2017-12-01 16:11] SOF3 commented on #118
Seems like I'm still getting this in the HTML:
[code]

This may be bad for the server response in the long run.

[2017-12-02 13:19] Awzaw commented on #118
Indeed... I'll check that

[2017-12-02 13:38] Awzaw commented on #118
Fixed in ce2fb7c7b

[2017-12-03 07:36] SOF3 opened #154 "Res optimization"
There are many useless res sent to clients, including an enormous CSS file (40 KB uncompressed, 6.7KB compressed), a lot of unneeded library code (jquery-ui 223 KB uncompressed, 55.3 KB compressed). Consider splitting them up.

[2017-12-03 07:38] SOF3 opened #155 "Many unnecessary code parsing and execution"
Every time the server starts, all Module classes are loaded just to call their getAllNames() function and route the request. Consider moving module names into modules.php and avoid loading a class unnecessarily.

[2017-12-14 08:02] #118 closed, assigned to Awzaw

[2017-12-14 08:05] Awzaw commented on #126
Fixed by 552ad36

[2017-12-14 08:05] #126 closed, assigned to nobody

[2017-12-15 10:58] SOF3 commented on #155
Fixed in 838d40c

[2017-12-15 10:58] #155 closed, assigned to nobody

[2017-12-29 16:15] SOF3 opened #157 "Repo with CI disabled cannot be enabled again properly"
Because SelfBuildPage thinks it's enabled.

Repos like this have a row in `repos` table where `repos.build = 0`. SelfBuildPage should be made aware of it.

Steps to reproduce:
* Enable Poggit-CI for a repo
* Reload /ci
* Disable
* Reload /ci
* The repo is still shown as "On" in the admin panel.

[2017-12-30 06:54] 95CivicSi commented on #157
@SOF3  Thanks for opening this.  I will be willing to test where possible.

[2018-01-02 16:13] #143 closed, assigned to SOF3

[2018-01-03 08:25] #150 closed, assigned to nobody

[2018-01-04 15:30] GamakCZ opened #158 "review does not work."
![poggit plugin review - google chrome 04 01 2018 16_26_49](https://user-images.githubusercontent.com/17053298/34570605-90ad037c-f16c-11e7-9668-ae34e8ef2e75.png)

[2018-01-04 16:01] SOF3 commented on #158
Reproduced. Very high priority; but I may not be able to fix this until tomorrow.

[2018-01-05 07:34] #158 closed, assigned to SOF3

[2018-01-24 13:59] jarne opened #159 "Updates of plugins need to be checked again"
When submitting an update of a plugin, it takes really long sometimes until it has the status 'Approved' again. This is really annoying because users need to wait on the update and the old version is still shown on the 'Releases'-page.

In my case, some of our plugins got the status 'Checked' after an update, but the update is hidden from the users because the old version has still the status 'App

[2018-01-24 14:04] SOF3 commented on #159
Some updates have many additions, and need another full review.

[2018-01-24 14:23] SOF3 commented on #159
We are indeed slow in reviewing plugins from Submitted to Checked these two months. But I believe that it is necessary that plugins must be fully re-reviewed before getting raised to Approved again (or wait for people to make it Voted), otherwise it's a slippery slope that may cause decreasing plugin quality.

[2018-01-24 14:24] SOF3 commented on #159
Anyway, it is up to reviewers' decision on time and confidence whether they can make it Approved or Checked. It is not something that can be changed in Poggit's software, so I am closing this issue.

[2018-01-24 14:24] #159 closed, assigned to nobody

[2018-01-30 01:18] betty43252344543 opened #160 "fuck some"

[2018-01-30 15:06] #157 closed, assigned to nobody

[2018-01-30 15:07] SOF3 commented on #157
The old code is very spaghetti (and even worse, a mix of ES5 and ES6 code), so I'm not sure if things are done correctly. But as far as I have tested locally, it works.

[2018-01-30 18:46] bettyFucksDktappsWithJasonDiscordPmmmp opened #161 "fuck a dylan"

[2018-01-30 18:55] betty1235451234 opened #162 "thank jason !"
Nice to see they are using MOTDShuffle XD
Sandertv - Today at 11:56 AM
It's quite widely used to be honest
𝚃𝚑𝚎𝙳𝚎𝚒𝚋𝚘 - Today at 11:57 AM
That's the only plugin of mine that I actually like
Sandertv - Today at 11:57 AM
It's one of those plugins that every server can use
SOFe - Today at 12:50 PM
You're right, people always tend to make everything into different classes. https://github.com/CLADevs/CLA

[2018-01-31 16:07] babroos524235623623 opened #163 "good morning dktapp ! huge pmmp attack be planned today with master of the realms and genisys pro team !"
huge attack !

special thank to jason for giving us logs on pmmp discord chatty ! you cannot hide !

we will spam spam spam ! until you pay now $100 paypal for damages ! this is buisness war !

[2018-02-07 14:05] SOF3 opened #164 "Bleeding-edge build class"
Now with the `/get/:plugin_name/dev` endpoint, development builds may be downloaded automatically. However, some of them may be in other branches, or for other reasons, they may not be expected for download as the latest development build.

Therefore, this issue proposes the addition of the `bleeding` attribute under `projects[]`, which names the conditions for making the development build bleedin

[2018-02-13 17:18] lukeeey commented on #135
Guessing this wasnt intended... Can anyone reproduce this? I'm using iOS 9.

![alt](https://i.imgur.com/pYZPgHQ_d.jpg?maxwidth=640&shape=thumb&fidelity=medium)

[2018-02-14 10:13] Awzaw commented on #135
Any idea when it started happening?

[2018-02-14 12:58] lukeeey commented on #135
@Awzaw i could be wrong but i don't think i've ever visited poggit from my iPod before.

It only breaks on the releases page as well, on the dev page the footer is in the correct place

[2018-02-26 21:35] Awzaw commented on #135
I can't reproduce this on xcode simulator and don't have iOS devices to test on, can anyone confirm?

[2018-02-27 12:43] ghost commented on #135
These are my mobile devices, two of them are iOS. @Awzaw

**iPad Air 2:** https://photos.app.goo.gl/AMxmh0fkCMcj4ly13
**iPod Touch (Sixth Generation):** https://photos.app.goo.gl/0Pb6eVJ8FV08dQ1l1
**Samsung Galaxy J1 (Sixth Generation):** https://photos.app.goo.gl/3aShuUoqMhs37AI22

[2018-03-09 10:00] SOF3 opened #165 "Migration to GitHub Apps"
The TODO list will be tracked in this project: https://github.com/poggit/poggit/projects/8

## Introduction
The OAuth App system (abbr. "v3" below) sucks. Our token authorization scope management is crap. The [Custom Login](https://poggit.pmmp.io/login) interface confuses users who don't understand about OAuth authorization.

Meanwhile, to access the API as the user in the background, e.g. handlin

[2018-03-15 20:52] robske110 commented on #53
As far as I know one can't delete old releases anymore, rendering this issue invalid. Or am I wrong about that?

[2018-03-16 05:56] SOF3 commented on #53
Closing as obsolete.

[2018-03-16 05:56] #53 closed, assigned to Awzaw

[2018-03-20 06:00] Burgercat opened #166 "Gamerules"
Oh hi there!,

I just wanted to suggest to add the gamerule command. It frustrates me that when I want to customize my world settings, it just doesn't work. It just says Unknown Command bla bla bla.

Or i'm just a idiot not knowing how to use this...

[2018-03-20 10:09] ghost commented on #166
👮

[2018-03-20 10:40] SOF3 commented on #166
Oh bye there!,

I just wanted to suggest to look at what the repo is about. It frustrates me that when I want to run away from PocketMine problems and stay a quiet corner in Poggit, it just doesn't work. It just says gamerules bla bla bla.

Or I'm just a idiot not knowing how to disable the issue tracker...

[2018-03-20 10:40] #166 closed, assigned to nobody

[2018-03-31 12:11] SOF3 commented on #123
Haven't reproduced this issue for weeks.

[2018-03-31 12:11] #123 closed, assigned to nobody

[2018-04-10 10:29] lukeeey opened #167 "Add a 'bump' button"
It would be nice if, every so often, we could push a button to remind Poggit staff to review our plugin and approve it. To prevent spam, this could be every few days and only available for Checked plugins.

I thought of this because i submitted a [BlockSniper update](https://poggit.pmmp.io/p/BlockSniper/2.3.1) 2 days ago and Sandertv checked it. Because the approved version is displayed, users get

[2018-04-10 10:34] Thunder33345 commented on #167
bump but i suggest once every week

[2018-04-10 10:38] lukeeey commented on #167
Once every week but after 2 months once every 2 days.

[2018-04-10 11:27] SOF3 commented on #167
I see no reason why a Poggit reviewer should give extra attention to a plugin just because the author has bumped it. We already have a well-sorted review queue. If nobody wants to review it, it is because nobody has time/motivation, and bumping it won't give any extra motivation.

~~Creating this issue is a nice alternative way of bumping your own plugin though.~~

[2018-04-10 11:27] #167 closed, assigned to nobody

[2018-04-10 11:44] lukeeey commented on #167
~~it's technically not my plugin though~~

[2018-05-30 18:38] SOF3 opened #168 "Older reviews by the same user should be disregarded"
See https://poggit.pmmp.io/p/Sheep/5.2.2 for example: SOFe reviewed twice, and both are displayed. While it is clear that the older review was for an older version, it also makes sense to have the newer review override the older one completely.

[2018-06-03 11:53] Awzaw commented on #168
I think this only applies to staff who can leave multiple reviews, but I'll have to check

[2018-06-16 05:06] SOF3 opened #169 "Vote button is not displayed"

[2018-06-19 11:11] #169 closed, assigned to SOF3

[2018-06-30 20:12] djdisodo opened #170 "please support other git services"
some peoples will want to use self-hosted git service

[2018-07-01 08:16] SOF3 commented on #170
Self-hosted git service, no.
Other public Git services like GitLab, BitBucket, etc., worth considering.

[2018-07-01 08:21] Thunder33345 commented on #170
@SOF3 why not selfhosted doe?
some uses federated gitlab protocol, but i dont think they shall be supported via release system due to uncertainty of status and reliability
our release system should just work with Github and Gitlab

[2018-07-01 09:13] SOF3 commented on #170
The current design of Poggit totally relies on GitHub login and specific behaviour from GitHub. We need to do many changes if we support GitLab too, e.g. usernames from GitLab have to have a `~` prefix, etc. It might also open room for a lot of vulnerabilities since I'm not sure about the exact behaviour of GitLab (I'm not familiar with it).

[2018-07-02 09:01] djdisodo opened #171 "error on importing sql"
REATE TABLE release_perms(

releaseId INT UNSIGNED DEFAULT NULL ,
val TINYINT DEFAULT NULL ,
KEY release_meta_index( releaseId, TYPE ) , <---this line
FOREIGN KEY ( releaseId ) REFERENCES releases( releaseId ) ON DELETE CASCADE
);

MySQL message

#1072 - Key column 'type' doesn't exist in table

[2018-07-05 14:15] JaxkDev commented on #22
Would love to see this, added once all higher prior stuff is done !

[2018-07-14 07:53] #171 closed, assigned to nobody

[2018-07-14 07:56] SOF3 commented on #170
Unless we have people who don't use GitHub at all upvote this issue, I will not work on this :trollface:

[2018-07-14 07:56] #170 closed, assigned to nobody

[2018-07-14 08:00] SOF3 commented on #171
Actually, the mysql.sql is a bit outdated, and I am not in the mood to update it. Several recent changes in the schema have not been documented in this file.

[2018-08-02 06:04] RaccoonBlades opened #173 "Commiting An CI"
I'm trying to commit my first CI or repo, once I hit confirm, there was a text box which stated "it may take up to a minute, try refreshing the page, once I do that, the repo is gone

[2018-08-02 09:47] SOF3 commented on #173
Which repo?

[2018-08-02 09:47] SOF3 commented on #173
For help, please go to https://GitHub.com/poggit/support/issues

[2018-08-02 09:47] #173 closed, assigned to nobody

[2018-08-03 19:42] jackbentley opened #174 "Question: Why not use an open-source framework?"
Looking through the code, I can see that there's nearly no community-driven open-source code - and everything is self-coded.

What were the reasons for this? I would think that, for an open-source project, you would want to use an open-source framework like Symfony, Laravel, CakePHP, etc (to name a few).

If nothing else, it would make for less maintenance work - not having to maintain code that d

[2018-08-03 19:47] dktapps commented on #174
NIH syndrome. ¯\_(ツ)_/¯

[2018-08-04 04:59] SOF3 commented on #174
Can you give examples of the $_POST part?

[2018-08-04 13:27] jackbentley commented on #174
@SOF3 Your latest commit - 51d59de7984a5fbc8eafb3598f3d71dde176ac4e

It's not a dig. You're obviously cable of understanding PHP - so why waste your time rewriting the basics, when theres large teams out there writing more code than you could ever possibly write on your own - that solves these problems for you - and give it you for free; update it regularly with new features and security fixes (on

[2018-08-04 15:43] SOF3 commented on #174
I guess it is too late to think about this now without rewriting the whole project. When I started writing Poggit, I was indeed intending not to use those frameworks because I wanted to practise my programming and know more about the actual stuff like website security, program management, etc. I'm closing this issue since this cannot really be fixed.

[2018-08-04 15:43] #174 closed, assigned to nobody

[2018-08-04 20:40] Awzaw commented on #174
All valid points @jackbentley, but in a way it's similar to the reason that PocketMine is written in PHP. With hindsight it seems obvious that Poggit should use a framework, but in both cases that's just how they happened, as SOFe explained above, and a rewrite at this point would be no simple matter.

In Poggit's case you also need to bear in mind that although it is open-source, it wasn't writte

[2018-08-05 00:16] jackbentley commented on #174
It isn't really too late; it wouldn't necessarily require an entire rewrite - you don't have to implement a full-stack framework. The Symfony framework is broken down into [reusable modules](https://symfony.com/components). You could start implementing such modules one by one when you see fit, while adding new features.

There's also loads of other [cool packages available out there](https://packa

[2018-08-14 12:57] robske110 opened #175 "Contributor username/name changes are not tracked by poggit"
If a contributor on a released plugin changes their username, it must manually be updated in the submit form.
This should be considered a very low priority issue.

[2018-08-31 15:52] SOF3 opened #176 "DMCA'ed repos are visible to non-logged in users"

[2018-08-31 16:10] SOF3 commented on #176
This is because Poggit caches a user's access to a repo for up to 24 hours in order to improve performance. Poggit will not check if a repo exists (and is visible to the user) if it has been checked in the past 24 hours.

This will not be fixed, as resolving this issue will result in an average of 2 seconds slower response for RepoBuildPage and ProjectBuildPage.

[2018-08-31 16:10] #176 closed, assigned to nobody

[2018-09-22 22:19] Melonenbubi opened #177 "AutoUpdater"
This Plugin should do what many Pocketmine-Server-Owner would love (because this Plugin will help them a lot)

This Plugin should include a command to update the server:
• New Pocketmine will be installed
• Plugins will be API bumped (Just changes the API in the plugin.yml (I'm not a real programmer - I hope I didn't say a false file name)
• The Plugin changes the API of itself

To say it short: T

[2018-09-22 22:33] #177 closed, assigned to nobody

[2018-09-23 07:31] SOF3 commented on #177
This is not a place for requesting plugins.

[2018-10-01 00:46] Guardian56 opened #178 "Poggit mobile app"
It might helping developer to directly manage their plugin without web. And easy to search plugin.

[2018-10-01 01:00] Guardian56 commented on #178
Idea: Make Firebase databade for Poggit so developer can be easy to access it

[2018-10-01 03:27] SOF3 commented on #178
What do you mean by "without web"? Modern web technologies allow a website to function almost as much as a mobile app. IMO what we need is a better-designed web frontend, not a separate platform-specific mobile app.

[2018-10-01 10:34] nathfreder commented on #178
@SOF3 Definitely, the only issue is that Poggit is built using "old" web technologies. It would be a major challenge to do this.

[2018-10-01 11:01] nathfreder commented on #178
Nevermind, I take that back. It is possible to turn this application into a Progressive Web App, though it would require a lot of changes to the core. Namely a frontend re-write. 🙁

[2018-10-12 20:49] Bornkiller2301 opened #179 "Texter issue"
At line 90 the plugins gets uninstalled while installing it and I would like my text back as it removed all text from my server!pleade fix as soon as possible

[2018-10-12 21:10] dktapps commented on #179
This is not a plugin support forum.

[2018-10-12 21:10] #179 closed, assigned to nobody

[2018-10-24 14:41] Bornkiller2301 opened #180 "Plug for Pocketmine"
I can’t make manyworlds plugin work also it crashes server and any world generator will crash server while creating a world

[2018-10-24 14:42] dktapps commented on #180
Again. This is not a plugin support forum.

[2018-10-24 14:42] #180 closed, assigned to nobody

[2018-10-24 17:09] SOF3 commented on #165
For reference: https://blog.github.com/2018-09-25-migrating-to-github-apps-code-climate-shares-their-story/

[2018-11-20 16:33] ghost opened #181 "Can't see on small width devices"
Here's screen shots
![img_6433](https://user-images.githubusercontent.com/15015722/48800039-01e6cb00-ed4c-11e8-8ed9-e7ecc6cb3c78.JPG)
![img_6432](https://user-images.githubusercontent.com/15015722/48800044-0612e880-ed4c-11e8-85e5-74ff9df38375.JPG)

[2018-11-20 17:29] SOF3 commented on #181
Don't link to Dropbox. Copy your images and paste on GitHub directly, or click the "Upload files" button.

[2018-11-20 17:30] SOF3 commented on #181
@Awzaw any idea?

[2018-11-20 20:12] ghost commented on #181
Sorry. uploaded directly

[2018-12-15 17:00] Awzaw commented on #181
Which version of Safari is this, on which iOS?

[2018-12-16 19:04] ghost commented on #181
Safari Version: 8.0
iOS: 8.4.1

[2019-01-22 09:08] SOF3 commented on #178
Closing due to lack of constructive discussion.

[2019-01-22 09:08] #178 closed, assigned to nobody

[2019-01-22 09:10] SOF3 commented on #165
Closing as won't fix. To-do in Delta, not a significant issue in Beta.

[2019-01-22 09:10] #165 closed, assigned to SOF3

[2019-03-15 14:20] ghost commented on #135
**Some blocks disappear immediately when you place them. for example beacons, end portals and nether portals**

[2019-03-15 14:27] Sandertv commented on #135
Poggit is not PocketMine. For your 'issue', these blocks are simply unimplemented in PocketMine. For questions and discussion, please join the PocketMine discord server instead.

[2019-03-15 17:46] lukeeey commented on #135
And this would be the wrong issue anyway. This is just for me to bitch about how i dont like the UI for poggit.

[2019-03-28 19:44] JaxkDev commented on #168
Would like to see this changed, as anyone can review a new 'version' of the same plugin
Maybe when displaying a specific version display the reviews with it.
or just have the latest reviews.

[2019-03-28 22:32] jackthehack21 commented on #54
Is there any updates on this, would also like this as I’m always in DC 🙏

[2019-03-29 07:38] SOF3 commented on #45
Should be replaced by a Plugin Lists mechanism

[2019-03-29 07:38] #45 closed

[2019-03-29 07:39] SOF3 commented on #36
Since I haven't encountered anyone with this issue for more than two years, I am closing this. Poggit documentation is just... who reads them anyway?

[2019-03-29 07:39] #36 closed

[2019-04-23 23:12] ghost opened #182 "The attribute version is required but missing in the manifest"
I new to poggit and I get this problem I already have the plugin.yml verison so what do I do

[2019-04-23 23:30] SOF3 commented on #182
This is not a support hotline for writing plugins.

[2019-04-23 23:30] #182 closed, assigned to nobody

[2019-04-23 23:40] ghost commented on #182
What do u mean

[2019-04-24 08:24] dktapps commented on #182
He means that

[2019-04-29 21:39] ghost opened #183 "Unexpected error"
I’m making a ChatBot Plugin I add repo to poggit and I get the error. I don’t see the problem so I update it and still see it what’s my problem?

Link: https://github.com/NewPluginXD/ChatBot/edit/master/src/NewPluginXD/ChatBot.php

[2019-04-29 21:40] ghost commented on #183
[https://github.com/NewPluginXD/ChatBot](url)

[2019-05-31 06:17] TheCollerPlayed opened #184 "Detected spam"
SO reduced this issue because it is **spam** and Fe<sup>2+</sup> oxidized this issue to base64 because it is a 24-hour no-life disrespectful watcher of issues.
Original content:
[code]

[2019-05-31 06:17] #184 closed, assigned to nobody

[2019-06-02 15:17] GamakCZ opened #185 "Missing star rating"
![image](https://user-images.githubusercontent.com/17053298/58763373-22dd7380-855a-11e9-822c-ebf81cb3a20e.png)

![image](https://user-images.githubusercontent.com/17053298/58763381-3983ca80-855a-11e9-9ea4-5347e820954f.png)

https://poggit.pmmp.io/p/SimpleHome/

[2019-06-02 15:29] #183 closed, assigned to nobody

[2019-06-02 15:30] SOF3 commented on #185
Yes, it is a known issue that it only displays reviews for the latest version.

[2019-06-13 20:48] ghost opened #186 "Detected spam"
SO reduced this issue because it is **spam** and Fe<sup>2+</sup> oxidized this issue to base64 because it is a 24-hour no-life disrespectful watcher of issues.
Original content:
[code]

[2019-06-13 20:48] #186 closed, assigned to nobody

[2019-06-15 13:05] Wertzui123 opened #187 "Can't add a repo"
Hm, I can't add a repo to the ci's...
But it creates to .poggit.yml

[2019-07-02 04:55] AlexPads opened #188 "Cant Delete submitted release if Submitted by Group"
I Submitted a Plugin for review and I can't delete the Release and Update it Because I Submitted it from our Group REPO from SaltyPixelDevz I am Owner of the Group.

[2019-07-15 17:43] Napoleon-x opened #190 "reply, edit,love comments, pin comments fetures"
please add these fetures so poggit can give the best feedback from developers and plugin authours
reply, edit,love comments, pin comments

[2019-07-15 18:28] SOF3 commented on #190
Poggit is not a forum.

[2019-07-15 18:28] #190 closed, assigned to nobody

[2019-07-19 20:45] ghost commented on #190
@SOF3 Considering Poggit let's people add comments it's reasonable to ask for the ability to edit and reply to them. I'm not sure about loving and pinning comments though.

[2019-08-03 03:24] nghiaomgvn opened #191 "Thêm custom echant"
mong ad đọc hãy thêm custom enchant vào phần enchantments đi ạ

[2019-08-03 03:39] #191 closed, assigned to nobody

[2019-08-03 08:49] ghost opened #192 "PoggitCI does not load builds."
![Uploading Screenshot_2019-08-03-13-48-14.png…]()
![Screenshot_2019-08-03-13-48-08](https://user-images.githubusercontent.com/49820135/62409746-7a996900-b5f5-11e9-9594-e0d1004296d3.png)
I don't see any error, problem with disc space or my quota?

[2019-08-26 12:58] Minecraftfan714 opened #193 "Can't download my plugin"
![image](https://user-images.githubusercontent.com/50752658/63692416-e5634c00-c811-11e9-9f43-c390d72f35b4.png)

I can't download my plugin :(

[2019-08-26 13:02] SOF3 commented on #193
Where is it linked from?

[2019-09-01 11:41] Minecraftfan714 opened #194 "Detected spam"
SO reduced this issue because it is **spam** and Fe<sup>2+</sup> oxidized this issue to base64 because it is a 24-hour no-life disrespectful watcher of issues.
Original content:
[code]

[2019-09-01 11:41] #194 closed, assigned to nobody

[2019-09-01 11:44] Minecraftfan714 opened #195 "Can't download my Plugin, why?"
Hey, I can't download my Plugin. First I created .poggit and went to that link:

![image](https://user-images.githubusercontent.com/50752658/64075854-960f9680-ccbd-11e9-9930-fb1fbb1382c6.png)
ThenI klicked download:

![image](https://user-images.githubusercontent.com/50752658/64075859-b0497480-ccbd-11e9-84fc-7e30e11c26c2.png)
Then OK

![image](https://user-images.githubusercontent.com/50752658/640

[2019-10-05 20:30] BroCrows opened #196 "UI Not working"
When I open up any UI on my sever and click any button it closes UI and if it has a closing message it sends closing message
My Plugins
EconomyAPI v5.7.2, SignEdit v1.4.6, EnchantUI v0.5, PiggyCustomEnchants v1.4.6, MultiWorld v1.5.1, AllSigns v1.0.11, BetterVoting v1.5.0, SellAll v1.3.0, OreGen v1.1.4, Sheep v5.2.3, PurePerms v1.4.2-c2a, RedstoneCircuit v1.0.1, WorldGuard v1.0.0, OreEarn v1.8.1,

[2019-10-05 21:22] #196 closed, assigned to nobody

[2019-10-05 21:31] BroCrows commented on #196
Why was my issue closed?

[2019-10-05 21:37] ghost commented on #196
your issue does not include anything about poggit and your issue must be reported on the PocketMine-MP project not this, also that's not an bug. there's a plugin causing it. try removing your plugins and add them back one by one to know which one causing it.

[2019-10-05 21:53] BroCrows commented on #196
Ok thanks

[2019-10-17 19:24] Napoleon-x opened #197 "star,favourite,show newest options need to be added and add a reply to comments,edit comments and react to comments need to be added"
star, favourite, show newest options need to be added and add a reply to comments, edit comments and react to comments need to be added

Make Poggit More User-Friendly Pls and oh god my eyes are bleeding please add a dark theme
I'm not asking for it to be a forum but it would be nice if we had them features

[2019-10-18 01:47] jasonw4331 commented on #197
Poggit dark: https://userstyles.org/styles/174539/poggit-dark

Poggit already has star ratings and allows users to leave reviews on plugins. What you are describing is a forum but we already have one, so this will not be turned into one. If you want to talk about the plugin with other users, then you can do so on https://forums.pmmp.io/

[2019-10-18 04:30] SOF3 commented on #197
What do you mean by "show newest options"?
For other things, they already have duplicate issues.

[2019-10-18 04:30] #197 closed, assigned to nobody

[2019-11-20 06:56] RizenSoulja opened #198 "Instant Close"

[2019-11-20 06:59] #198 closed, assigned to nobody

[2019-12-08 16:48] JaxkDev commented on #192
I came across this while doing something else, was when i didn't modify anything important (in the commit) it just skipped my build.

Simply: It doesn't build when it doesn't need to.

[2020-01-01 09:51] Invy55 opened #200 "!spam"
SO reduced this issue because it is **spam** and Fe<sup>2+</sup> oxidized this issue to base64 because it is a 24-hour no-life disrespectful watcher of issues.
Original content:
[code]

[2020-01-01 10:11] #200 closed, assigned to nobody

[2020-01-29 10:48] JaxkDev opened #207 "Dependency Issue"
#### References:

When submitting plugins with unknown dependency's to poggit (plugin names that have never been used in poggit) it fails to show the user the submission form.
A little bit of digging led me to this line which in validation but that is after submitting the plugin, it does not handle unknown dependency's when showing the submission form.
https://github.com/poggit/poggit/blob/beta/sr

[2020-02-06 10:17] JaxkDev commented on #185
I might be wrong in saying this but it could be because the releases they commented on aren't actually public anymore, 1.0.2 is rejected, 1.0 is draft.
It does show 1.0.1 reviews (if any were made)

[2020-02-16 06:09] MyDeacy opened #210 "Can't log in"
![スクリーンショット (703)](https://user-images.githubusercontent.com/20610410/74599978-c614ef80-50cd-11ea-8b0d-a73ab5057bcd.png)
![スクリーンショット (704)](https://user-images.githubusercontent.com/20610410/74599992-f2c90700-50cd-11ea-8fff-9453fe73fba7.png)

My acquaintance can log in successfully, but I cannot log in.
The account is "MyDeacy" which is writing this issue now.

[code]

[2020-02-19 05:39] SOF3 commented on #210
How did you even manage to get the stack trace? 500 ISEs are supposed to give the request ID not the stack trace.

[2020-02-19 05:41] SOF3 commented on #210
Oh never mind, PHP is acting up. Can you reliably reproduce this issue?

[2020-02-21 14:13] MyDeacy commented on #210
The way to reproduce is to log in with my account.
・ I have registered a plugin called MoneyLevel with ID RuinPrayMC before.

[2020-02-23 17:50] JaxkDev commented on #210
Your account I presume is fixed, but please keep this open as there is a different issue attached to this one.

[2020-02-24 04:11] MyDeacy commented on #210
Confirmed that I can log in.
thx :)

okay. leave open.

[2020-02-24 06:37] #210 closed, assigned to nobody

[2020-02-29 19:11] JaxkDev commented on #192
Changed via #208

[2020-02-29 19:11] #192 closed, assigned to nobody

[2020-03-07 07:30] XGDavid opened #213 "400 Bad Request"
400 Bad Request Cannot find the project AdminsList from the .poggit.yml back then. Was the project renamed? Please contact a Poggit admin if you need help.
Plugin Name: AdminsList

[2020-04-03 13:23] Hydroxfr opened #218 "Virus infection. Json"
Vérifier vos les plugin télécharger sur poggit github certain malin introduisent des virus infection. Json décompresser vos fichier phar avant de les exécuter sur votre console et vérifier les tous !

[2020-04-03 13:26] Thunder33345 commented on #218
Please use english
And do you think a real virus will name itself virus.json?
This is like going into a store while holding a large sign saying "I am a thief"

[2020-04-03 13:34] Hydroxfr commented on #218
No speak English sorry, je comprend votre point de vue seulement c'est une movaisse blague j'ai recommencer tout mon travail avec leur conerie.
________________________________
From: Thunder33345 <notifications@github.com>
Sent: Friday, April 3, 2020 3:26:40 PM
To: poggit/poggit <poggit@noreply.github.com>
Cc: Hydroxfr <guatta.m@outlook.fr>; Author <author@noreply.github.com>
Subject: Re: [poggit/

[2020-04-03 13:38] Thunder33345 commented on #218
there's no viruses in any plugins on poggit, if there's any please link it here
https://poggit.pmmp.io/p/AuctionHouse/1.0.9 does not have any virus, `infection.json` is an internal poggit process

-----
Google traduit: il n'y a pas de virus dans les plugins sur poggit, s'il y en a, veuillez le lier ici
https://poggit.pmmp.io/p/AuctionHouse/1.0.9 ne contient aucun virus, `infection.json` est un pro

[2020-04-03 13:45] Hydroxfr commented on #218
Dans ce cas je vous remercie pour l'information mais le nom de ce fichier json est confus j'ai recommencer tout mon serveur pmmp je suis démotiver à causse de leur bêtise. Désoler pour le dérangement

Envoyé d’Outlook Mobile<https://aka.ms/blhgte>

________________________________
From: Thunder33345 <notifications@github.com>
Sent: Friday, April 3, 2020 3:39:11 PM
To: poggit/poggit <poggit@noreply

[2020-04-03 13:52] SOF3 commented on #218
Nobody understands the language you are speaking. If you can't write English, just don't write, because a bunch of nonsense and an empty issue are equally useless to me.

"Virus" is the noun to describe a "virion" when it is injected inside a cell. The word "virus" here is more related to virus as in coronavirus than virus as in computer virus.

[2020-04-03 13:52] #218 closed, assigned to nobody

[2020-05-05 00:21] AmielSe opened #220 "Boss Plugin"
please fix for the new slapper update. 1.5.20-unhappy now please i really need the plugin

[2020-05-05 01:44] SOF3 commented on #220
We do not maintain slapper.

[2020-05-05 01:44] #220 closed, assigned to nobody

[2020-05-05 01:45] SOF3 commented on #220
Poggit is a website. Users put plugins on this site. We do not maintain those plugins. Please contact the developer.

[2020-05-20 07:55] SOF3 opened #226 "dyncmdlist does not resolve plugin dependencies"

[2020-05-22 05:51] #226 closed, assigned to nobody

[2020-05-22 06:21] SOF3 opened #228 "Display downstream virions in CI project page"

[2020-05-22 06:21] SOF3 opened #229 "Display detected commands in CI project page"

[2020-06-02 02:18] DDJTUSE opened #230 "about the old site"
The old plugins site: https://forums.pocketmine.net/ has many good plugins that this new one does not have, and it is quite old, the plugins that are there, many people want and so do I!  If you are wondering "then why don't you download and install it on pocketmine?"  that's because I'm using aternos, not everyone can open ports on the router to use pocketmine, and since aternos only accepts plug

[2020-06-02 04:50] SOF3 commented on #230
All plugins on forums.pocketmine.net are seriously outdated. In particular, those explicitly tagged "Outdated" would require an entire rewrite to get updated.

In short, just assume the plugins on forums.pocketmine.net belong to another world. It has been 4 years since we moved here, and a lot has changed in these 4 years. Making a new plugin would most likely be easier than trying to update those

[2020-06-02 04:50] #230 closed, assigned to nobody

[2020-06-02 07:54] DDJTUSE commented on #230
in this case, I just hope that the plugins are redone!  Thank you

[2020-06-02 08:59] SOF3 commented on #230
Poggit maintains the website, not the plugins. You can request plugins at https://forums.pmmp.io/forums/requests

[2020-06-04 20:01] ghost opened #231 "!spam"
SO reduced this issue because it is **spam** and Fe<sup>2+</sup> oxidized this issue to base64 because it is a 24-hour no-life disrespectful watcher of issues.
Original content:
[code]

[2020-06-04 20:12] #231 closed, assigned to nobody

[2020-06-19 09:02] matcracker opened #234 "Missing owner/author name in the plugin list API."
When you get information from JSON of Poggit API there is not any owner/author name of plugin. Most of the time it is found in the "producers > Collaborator" entry but in some cases it is not.
Examples:
- https://poggit.pmmp.io/plugins.json?name=BedcoreProtect (there is not my name, only the translator)
- https://poggit.pmmp.io/plugins.json?name=MyPlot (there is not jasonwynn10)

The idea is to ad

[2020-06-21 09:11] Aericio opened #235 "Missing download button in dev: sidebar"
![image](https://user-images.githubusercontent.com/16523741/85220942-50ef4a80-b34b-11ea-806e-4d92ded4a26c.png)

[2020-06-21 10:22] SOF3 commented on #235
This issue matters when the user requests to download a specific build number.

In addition, API for CI builds shall be added. It was intentionally added in previous years in order to boost usage of Release over CI. However such a distinction is no loner desired, and an API to download directly e.g. `/ci.dl/:user/:repo/:project/:class\::build` shall be added.

[2020-07-03 09:53] dktapps opened #236 "LICENSE detection not working for jojoe77777/Slapper"
I'm attempting to submit Slapper 1.6.0, and the auto-detect LICENSE button doesn't pick up the common LGPL-3.0 license from the repo which has been there for the last 4 years.
https://github.com/jojoe77777/Slapper/blob/324b48dea27ed636f6a84f5afa7090cb2568eba0/LICENSE

[2020-07-04 07:05] SOF3 commented on #236
Was the license there in the previous releases? Poggit uses the value from last release instead of re-detecting for certain fields.

[2020-07-04 10:51] dktapps commented on #236
Yes. See https://poggit.pmmp.io/p/Slapper/1.5.30.

[2020-07-18 02:42] ghost opened #237 "[PHPStan] Autoload errors not captured"
PHPStan will not work.

PHPStan Error
An error occurred while running PHPStan

PHPStan failed with ID 'phpstan-6f88-360a0e39', contact support with the ID for help if this persists.

[2020-07-18 06:55] JaxkDev commented on #237
I assume it’s a private repo but it’s Friends.php L14 CommandSender and Command types weren’t found (add it at top with rest of ‘use’ statements)

[2020-07-19 16:42] ghost commented on #237
I think not importing the 2 classes causes php Stan to crash. Once I fixed this the rest of the errors showed like they’re supposed to.

[2020-07-24 07:38] Aericio opened #238 "Allow external URLs for icons"
I was hoping to move image files off of plugin repositories, but poggit doesn't support URLs. Perhaps you can have a list of allowed domains, such as `raw.githubusercontent.com`, that poggit would allow.

[2020-07-30 20:23] JaxkDev commented on #238
Poggit already stores them as a `raw.githubusercontent.com` URL, Can't see why not, would also mean bigger size'd gifs / images could be used via different repo.

@SOF3 ?

[2020-07-30 20:25] #185 closed, assigned to nobody

[2020-07-31 03:47] SOF3 commented on #238
If it remains a canonical GitHub file path, I think it's fine. As long as we can ensure user can't change icon after submitting.

[2020-07-31 20:58] JaxkDev commented on #234
So there’s two parts to this if I’ve looked at it rightly,
A, The plugin owner is sometimes put as an ‘Owner’ or ‘Collaborator’ on a release, from my tiny amount of testing you seem to be classed as owner if you add anyone on the producers list, or stay as a Collaborator if no one is added.
B, The API doesn’t include ‘Owner’ if the plugin owner is put in that ‘category’

[2020-08-28 10:07] dktapps commented on #237
Might be a good idea to use static reflection to avoid this. It doesn't crash on code errors that would be fatal with runtime reflection.

[2020-09-13 13:01] Aericio commented on #238
Any update on this, or should I just add back the image to the repo? Someone brought to my attention that not having an icon hurts our visibility, also causing FactionsPro to gain more downloads than us in the past few months 😅

I would probably have to submit a new version for this if I wanted to add it though.

[2020-09-13 13:42] JaxkDev commented on #238
I won’t be adding this any time soon, bunch of other things more important to ‘fix’ but I don’t even have time for that right now, unless sofe does something probably won’t be implemented this year lol

[2020-09-14 07:45] Aericio commented on #238
Alright

[2020-11-11 23:46] APError opened #245 "Detected spam"
Actually, am gonna quit if this is how things run, this literally isn't the best way to deal with anything. A staff member being disrespectful towards everyone and gets a pass? For god sake every dm I get is being disrespectful, literally the whole senior team he has problems with. Tickets aren't being saved, closes tickets without the other guy answering, hasn't even been 24 hours and closes it.

[2020-11-11 23:46] APError opened #246 "Detected spam"
Actually, am gonna quit if this is how things run, this literally isn't the best way to deal with anything. A staff member being disrespectful towards everyone and gets a pass? For god sake every dm I get is being disrespectful, literally the whole senior team he has problems with. Tickets aren't being saved, closes tickets without the other guy answering, hasn't even been 24 hours and closes it.

[2020-11-11 23:46] APError opened #247 "Detected spam"
Actually, am gonna quit if this is how things run, this literally isn't the best way to deal with anything. A staff member being disrespectful towards everyone and gets a pass? For god sake every dm I get is being disrespectful, literally the whole senior team he has problems with. Tickets aren't being saved, closes tickets without the other guy answering, hasn't even been 24 hours and closes it.

[2020-11-11 23:47] APError opened #248 "Detected spam"
Actually, am gonna quit if this is how things run, this literally isn't the best way to deal with anything. A staff member being disrespectful towards everyone and gets a pass? For god sake every dm I get is being disrespectful, literally the whole senior team he has problems with. Tickets aren't being saved, closes tickets without the other guy answering, hasn't even been 24 hours and closes it.

[2020-11-11 23:47] #248 closed

[2020-11-11 23:47] APError opened #249 "Detected spam"
Actually, am gonna quit if this is how things run, this literally isn't the best way to deal with anything. A staff member being disrespectful towards everyone and gets a pass? For god sake every dm I get is being disrespectful, literally the whole senior team he has problems with. Tickets aren't being saved, closes tickets without the other guy answering, hasn't even been 24 hours and closes it.

[2020-11-11 23:47] PEMapModder commented on #249
User @APError has been blocked due to spamming, says the 24-hour no-life iron(II) thiooxide who watch the issue tracker all day very disrespectfully.

[2020-11-11 23:47] #249 closed

[2020-11-11 23:47] #247 closed

[2020-11-11 23:47] #246 closed

[2020-11-11 23:47] #245 closed

[2021-01-16 12:25] MahdiDawat opened #253 "Bad plugins"
Hello, if you can create a plugin for the registry, login
thanks a lot
SimpleAuth plugin does not work, we encounter the following error
Update API 3.0.0 3.17.0 Could not load plugin 'SimpleAuth': Incompatible API version (plugin requires one of: 2.0.0, 3.0.0-ALPHA1, 3.0.0-ALPHA2, 3.0.0-ALPHA3, 3.0.0-ALPHA4)
Thank you. This plugin is very much needed

[2021-01-16 12:25] MahdiDawat commented on #253
@Awzaw

[2021-01-16 12:31] MahdiDawat commented on #253
Version 2.1.3 disappeared? @Awzaw @shoghicp @SOF3

[2021-01-16 15:42] SOF3 commented on #253
SimpleAuth is no longer updated. Please read the "Supported versions" section.

Also, we do not provide support for plugins here. Please visit the plugin repo using the ![octocat](https://poggit.pmmp.io/res/ghMark.png) button next to the plugin name.

[2021-01-16 15:42] #253 closed, assigned to nobody

[2021-01-16 16:24] MahdiDawat commented on #253
Please update There are no plugins for server passwords and security

[2021-01-16 16:25] MahdiDawat commented on #253
@SOF3 Update SimpleAuth Please

[2021-01-21 09:26] callumrawlinson opened #259 "Unable to upload certain files"
Hello, When i go to https://poggit.pmmp.io/ci/ and try to add my repo https://github.com/callumrawlinson/StaffUI it doesn't work!
it stays loading for 30-35 minutes before just not working.
![Screenshot 2021-01-21 at 09 24 24](https://user-images.githubusercontent.com/72660075/105330838-a84be680-5bca-11eb-82e7-045aee1a0593.png)

[2021-01-21 09:46] SOF3 commented on #259
Your repository is too large, and Poggit rejected downloading it.

Leaving this open as this is a UX issue.

[2021-01-21 09:50] callumrawlinson commented on #259
What should i do?

[2021-01-21 09:52] SOF3 commented on #259
Delete your images. Poggit is not going to waste bandwidth downloading your 13MB-large images.

[2021-01-21 09:59] SOF3 commented on #259
At least use a more compact format than GIF.

[2021-01-21 10:19] callumrawlinson commented on #259
ok sorry

[2021-01-24 17:27] xXNiceYT opened #260 "Phpstan error"
![9BBDE1CF-CB1A-420B-ABCB-8EBAB4FA998A](https://user-images.githubusercontent.com/23722462/105638189-5b247a80-5e3f-11eb-98fe-add873b39537.jpeg)

after I push a commit and I check Poggit I kept on getting this error.
Not sure if this is my fault or poggit.

https://poggit.pmmp.io/ci/CLADevs/VanillaX/VanillaX

[2021-03-02 17:22] TheHumanCalculator opened #262 "Invcrashfix"
Could you add invcrashfix to poggit plz. I want to use the auction house plugins but both of them don't work unless you use invcrashfix. I can't download invcrashfix to aternos pocketmine server because it isn't on your website!

[2021-03-02 17:23] mmm545 commented on #262
ask the creator of the plugin to submit it to poggit

[2021-03-02 17:29] ethaniccc commented on #262
ez solution, stop using Aternos

[2021-03-02 17:31] JaxkDev commented on #260
This still happening?

[2021-03-02 23:31] #260 closed, assigned to nobody

[2021-03-03 03:50] #262 closed, assigned to nobody

[2021-03-03 03:50] SOF3 commented on #262
Poggit does not create plugins. We just host submissions.

[2021-03-23 09:59] HiroshimaTeam opened #264 "Meta og:image does not change when we change plugin icon"
I had changed my plugin icon but the og:image is the same. Can you fix that ?

[2021-03-24 04:24] SOF3 commented on #264
Plugin icons cannot be changed without releasing a new update.

[2021-03-24 04:24] #264 closed, assigned to nobody

[2021-05-15 12:46] Wertzui123 opened #269 "Plugins are not set to page 1 after approval"
When you submit a plugin, for whatever reason, it is placed on page 1 and over time it moves to pages 2, 3, and so on (I think because it has no downloads & is "older" than other plugins).
The problem is, it looks like plugins stay on this page after they are approved.
This is a **huge** disadvantage for plugins that take more time to review or when reviewers just have no time for a few days.

[2021-05-16 12:18] SOF3 commented on #269
We could change creation date to state change date in the query.

[2021-06-09 20:02] HimbeersaftLP opened #270 "Suggestion: "Vanilla" category"
I suggest adding a category named something like "vanilla mechanics" for plugins that extend PMMP with vanilla features that it's missing by default (i.e. https://poggit.pmmp.io/p/Netherite/1.2.1 or https://poggit.pmmp.io/p/Sponges/1.1.0).

[2021-06-10 02:46] SOF3 commented on #270
I think they suit quite well into mechanics.

[2021-06-10 11:47] HimbeersaftLP commented on #270
I guess so, but it'd make it easier for newcomers to extend their server with missing features if it was a seperate category.

[2021-07-23 13:03] Bubbelwubbel opened #271 "submit.form.ajax crashes when plugin.yml lists nonexistent dependency"
Hello,
I wanted to put a plugin public the last few days, but this does not work. I am logged in to Poggit with Github and have JavaScript on the page as well. In addition, I am using it correctly and that is why my question is why this is not possible?
FlxiBoy

Screen:
![image](https://user-images.githubusercontent.com/65186341/126785489-9ab76378-3c54-4c0a-9072-9e288e3af6c2.png)

[2021-07-23 13:05] MrNinja008 commented on #271
I can confirm this bug

[2021-07-23 13:05] JaxkDev commented on #271
#207

remove FormAPI plugin dependency in plugin.yml

[2021-07-23 13:06] MrNinja008 commented on #271
Oh

[2021-07-23 13:06] Bubbelwubbel commented on #271
only FormAPI?

[2021-07-23 13:06] MrNinja008 commented on #271
I am stoopid

[2021-07-23 13:07] MrNinja008 commented on #271
Yes remove FormAPI because it is not in POGGIT

[2021-07-23 13:07] Bubbelwubbel commented on #271
I'll try right now, but thanks in advance! :)

[2021-07-23 13:07] JaxkDev commented on #271
Any plugin that’s listed as a dependency on plugin.yml that’s not on poggit will cause a 500 template to be shown.

[2021-07-23 13:07] Bubbelwubbel commented on #271
Okay thank you very much!

[2021-07-29 07:43] OguzhanUmutlu opened #272 "hey"
https://poggit.pmmp.io/p/TntTag/1.0.3 and https://poggit.pmmp.io/p/BlockHunt/1.0.3 approved but 1.0.2s are featured so they are no longer in featured list can they fix it

[2021-08-05 13:18] JaxkDev commented on #236
I have actually looked at this and it's weird githubs done this but essentially they no longer list lgpl-3.0 only lgpl-2.1 so when poggit (successfully) detects slapper using lgpl-3.0 it cross references this with githubs list (https://api.github.com/licenses) it wont find a match and so no default value is set.

If you go back to previous releases with 3.0 set if you look at the license space in

[2021-08-05 13:20] JaxkDev commented on #236
Note the license is still on github but not on the most commonly used list anymore (the list poggit uses) (https://api.github.com/licenses)

https://api.github.com/licenses/lgpl-3.0

[2021-08-06 02:04] SOF3 commented on #236
Is this worth reporting as a bug to GitHub?

[2021-08-06 07:09] JaxkDev commented on #236
I’ve just assumed it’s no longer a ‘commonly used’ license can if you want but not sure if they’ll do anything about it.

But this means the list is not ‘fixed’ or reliable so this does need to be thought through.

[2021-08-23 19:27] JaxkDev opened #277 "Repeated data in plugins.json API"
#255 Introduced a small issue of plugins being duplicated by how many categories that version was released under.

https://poggit.pmmp.io/plugins.json

[2021-08-26 01:10] SOF3 opened #278 "Adverse possession of unmaintained plugins"
### Motivation
Plugin authors are often inactive due to a variety of reasons. It is unreasonable to disallow new contributions that fix the code, which is consistent with the philosophy of open source software.

I call this process "adverse possession", inspired by a similar concept on property rights under Common Law.

### Implementation detail
#### Eligibility
A plugin is eligible for adverse po

[2021-08-26 01:29] SOF3 commented on #278
In terms of technical implementation: the whole process can be done manually, with the transfer of release ownership simply an `UPDATE` query on the source project of a release. I do not intend to mess with the poggit source code further to support this (of course anyone who wants to spend time on this would be welcome).

[2021-08-26 09:49] SOF3 commented on #278
At first sight it seems that this proposal gives too many ways to adverse possess a plugin, but in reality the author can always choose to merge the fixes in the fork and release a new version during the objection period, so this is more like a way to motivate plugin authors to accept pull requests if they are not yet inactive.

[2021-09-05 08:19] SOF3 opened #279 "Add an "abandon" button"
Allows plugin developers to mark plugins as abandoned and provide recommended alternatives, similar to the "abandon" button in packagist.

[2021-09-09 08:27] JamieSlome opened #280 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-09 08:34] SOF3 commented on #280
Thanks, please email team@pmmp.io directly.

[2021-09-09 08:34] #280 closed, assigned to nobody

[2021-09-10 15:08] #271 closed, assigned to nobody

[2021-09-10 15:09] #207 closed, assigned to nobody

[2021-09-10 18:59] #259 closed, assigned to JaxkDev

[2021-09-10 19:22] #277 closed, assigned to nobody

[2021-09-10 19:25] JaxkDev commented on #168
As discussed in #203 I wont entirely 'hide' the review but add a 'OUTDATED' tag in red next to the staff badge any thoughts on that?

[2021-09-10 19:28] JaxkDev commented on #147
Should this be editable by user in submission form or fully automatically read from the plugins manifest ?
Maybe both?

Should there be any validation don't think we can have it compare against a fixed list of possible extensions but might be wrong

[2021-09-11 01:28] SOF3 commented on #147
Maybe just read from the plugin manifest. I regret making dependencies editable anyway. That inconsistency isn't really so good.

[2021-09-11 04:49] KygekDev opened #283 "Using fields query for plugins.json returns 500 Internal Server Error"
Pull request #282 caused https://poggit.pmmp.io/plugins.min.json?fields=downloads,name to return 500 Internal Server Error.

[2021-09-11 06:07] JaxkDev commented on #283
Add id to fields for now, didn’t see the bit where it flips the array to fields requested…

[2021-09-11 06:22] #283 closed, assigned to nobody

[2021-09-27 18:53] JaxkDev commented on #236
@SOF3 Should we look at changing the license endpoint, github won't list all licenses only commonly used ones which can change depending on usage so never providing a comprehensive list.

Maybe https://github.com/github/choosealicense.com/tree/gh-pages/_licenses
(https://api.github.com/repos/github/choosealicense.com/contents/_licenses)

[2021-09-29 19:09] JaxkDev commented on #234
@SOF3 Is this not designed behaviour ?
If not this sql call statement need modifying, specifically the `IFNULL` https://github.com/poggit/poggit/blob/7af4ce0a25a4d5811b2c0904ac6809aa49b1e827/src/poggit/release/index/ReleaseListJsonModule.php#L110

[2021-09-29 19:28] JaxkDev commented on #234
grr this is very annoying because it links to guess what, orgs.
There's no way to easily add user to contributor because repo_owner can be an organisation which is why i think sofe added the is null check because in orgs there'd always be contributors so it'll never show org name BUT with user owned repos and other contributors this is where it leaves the owner out because It assumes its an org by

[2021-09-30 05:50] SOF3 commented on #234
I was micro optimizing too much. Feel free to rewrite as appropriate.

[2021-09-30 08:06] KygekDev commented on #234
I think this can easily be implemented by using `explode("/", $data["repo_name"])[0]`.

[2021-09-30 08:10] SOF3 commented on #234
@KygekDev the point is to distinguish when the owner is an org.

[2021-10-01 14:02] JaxkDev commented on #269
Bit confused with this one, looks like it was designed to be by state date unless you recently changed it @SOF3 ?
https://github.com/poggit/poggit/blob/7af4ce0a25a4d5811b2c0904ac6809aa49b1e827/js/release.list.js#L19

[2021-10-01 15:36] SOF3 commented on #269
It should be by state date. I changed it a few times but eventually it should have been state date, and I haven't touched that part for many months

[2021-10-02 08:16] #168 closed, assigned to JaxkDev

[2021-10-10 11:39] SOF3 commented on #278
poggit/support#88

[2021-10-10 11:39] #278 closed, assigned to nobody

[2021-10-17 08:17] Vecnavium opened #287 "Add an edit review button"
Add a edit review button next to the delete review button and allow users to edit their review instead of having to delete it and resubmit a new review.

[2021-11-01 10:28] OP-D opened #288 "Poggit Download booster"
The downloads of a plugin can be lifted using proxies.
For the test I'm using http proxies.

See this
https://github.com/OP-D/Poggit-Download-Booster/

This could be prevented by blockings proxies.

[2021-11-01 11:01] SOF3 commented on #288
There are always more proxies than you can block.

[2021-11-01 11:01] #288 closed, assigned to nobody

[2021-11-02 07:39] keenanyafiqy opened #289 "Cannot enable Poggit-CI"
I can't enable Poggit-CI
It's just "Building repo" and then when I refresh
It doesn't turned on
What should I do?

[2021-11-05 10:37] KygekDev opened #290 "Error AccessFilter.RepoNotFound when trying to download plugin from private Poggit CI builds on browser"
I'm getting this error when trying to download a plugin from my private Poggit CI builds on browser:

[code]

This is the page where I tried to download the plugin:

![image](https://user-images.githubusercontent.com/68368066/140497050-0e8b87c1-eeff-430f-bc6a-a28d4ed32415.png)

However, I am logged in to both GitHub and Poggit CI with my **KygekDev** account and I think that I have granted all nec

[2021-11-05 15:32] #234 closed, assigned to JaxkDev

[2021-11-06 06:02] SOF3 commented on #290
Have you reproduced this with a "normal" browser? I don't know if brave has any special cookie policy that breaks this.

[2021-11-07 00:10] KygekDev commented on #290
I have also tried using Firefox with protection disabled, but the issue still persists.

[2021-11-08 17:08] JaxkDev commented on #290
Reproduced,

Investigation revealed its checking session_name() but this will ALWAYS be null because its set once the session is opened. (after that check)

[2021-11-08 17:34] #290 closed, assigned to nobody

[2021-11-09 13:59] ShockedPlot7560 opened #291 "Build with same id for github actions"
When we set up an action on our repository to for example automatically modify the style of the plugin with php cs fix, the plugin will bug. Indeed, if we activate the automatic commit, and that it is github-actions which commit, a same id for the build will be given and thus make bug the update via poggit.
Let me explain: if two builds have the same id and we want to publish a new release, this w

[2021-11-09 14:00] ShockedPlot7560 commented on #291
And also, I have the impression that php stan is not performed on auttomatiq commits

[2021-11-09 14:16] dktapps commented on #291
@SOF3 I told you you should have fixed this years ago :(

[2021-11-09 14:29] SOF3 commented on #291
Yes, but this is not easy to fix with the poor SQL usage

[2021-11-12 04:57] KygekDev commented on #290
For some reason, now I can't access my Poggit CI builds: https://poggit.pmmp.io/ci/KygekDev/PrivatePluginTest/PrivatePluginTest

![image](https://user-images.githubusercontent.com/68368066/141412143-875af39f-0a16-4699-a7b0-3c1d072edc56.png)

[2021-11-12 11:48] KygekDev commented on #290
Still getting the same error even after the commit https://github.com/poggit/poggit/commit/5f28220038d037bd850d75c01c39d15b6301fd0e:

What else could be causing this issue?

[2021-11-12 11:56] JaxkDev commented on #290
Just because I’ve committed the fix doesn’t mean it’s live.

[2021-11-13 15:28] dktapps opened #292 "Something extremely broken is happening to BlockSniper lint"
https://poggit.pmmp.io/ci/BlockHorizons/BlockSniper/~/pr:145

[code]
[code]
[code]
and many more besides.

[2021-11-13 15:32] dktapps opened #293 "Lint is still running on PHP 7.4 (or earlier?!)"
[code]

referring to https://github.com/dktapps-pm-pl/BlockSniper/blob/4aba4b88e662e7b57491faa7320aa73ce0e524cc/src/BlockHorizons/BlockSniper/ui/window/BrushMenuWindow.php#L47

This is valid code in PHP 8.0+, since `throw` is now an expression rather than a statement.

[2021-11-13 16:20] SOF3 commented on #293
Yes, it's still running on PHP 7.4 because I can't figure out how to upgrade the docker image to 8.0 :(

I'm wondering if it's better to run the PHP lint in a docker container so that we don't have to upgrade the whole poggit.

[2021-11-13 16:35] dktapps commented on #293
That would seem like the obvious solution. I had a similar problem with Jenkins recently because the default base image is 5 years old. We ended up moving all jobs into a dedicated agent with a different, newer image.

[2021-11-16 16:13] JaxkDev commented on #292
From memory this is fixed when updated to PHP8

[2021-11-16 16:57] dktapps commented on #292
@SOF3 fix it pls

[2021-11-30 13:20] NhanAZ opened #295 "Problem with the search bar"
When you search for SkyBlock on poggit you will be redirected to the link
https://poggit.pmmp.io/p/SkyBlock/3.0.0
I think instead of directing users to the above link, they should be redirected to:
https://poggit.pmmp.io/plugins?term=SkyBlock
Because there's not just a single SkyBlock plugin
If the user doesn't know how to edit the link, they only get one result when they search for SkyBlock
Suppo

[2021-11-30 15:25] JaxkDev commented on #292
Stand corrected, just got some things running locally this still occurs on PHP8.

[2021-11-30 15:26] SOF3 commented on #292
Related? https://poggit.pmmp.io/ci/PoggitTestPlugins/PoggitTestPlugin/PoggitTestPlugin/dev:21

[2021-11-30 15:41] JaxkDev commented on #292
This looks like a visual error, `{"class":"\\Main","file":"src\/JaxkDev\/TestPlugin\/Main.php","line":6,"code":"class Main extends PluginBase{","hlSects":[[6,8]],"name":null}` produces
<img width="364" alt="Screenshot 2021-11-30 at 15 40 51" src="https://user-images.githubusercontent.com/25908768/144078824-7f3dd504-36fd-480d-baed-d4fa9cfb8963.png">
s

[2021-11-30 16:10] #292 closed, assigned to nobody

[2021-11-30 16:13] JaxkDev commented on #292
Fixed for all **new** builds

[2021-12-01 18:03] #293 closed, assigned to nobody

[2021-12-01 18:08] #237 closed, assigned to nobody

[2021-12-01 18:08] JaxkDev commented on #237
https://poggit.pmmp.io/ci/PoggitTestPlugins/PoggitTestPlugin/PoggitTestPlugin/dev:29

[2021-12-01 18:22] JaxkDev commented on #295
reference, https://github.com/poggit/poggit/blob/c7a9c610f953d9de62e43db230fafbed2d06447f/assets/incl/searchbar.php#L24 changing to `plugins?term=` will probably do the trick.

[2021-12-02 22:40] dktapps opened #297 "There must be at least 1 producer! error when submitting https://poggit.pmmp.io/ci/pmmp/BasicSpawnProtection/~"
There is already a producer (me) but it's not happy.

Maybe because the repo is owned by an organization?

[2021-12-03 20:51] dktapps opened #298 ""Release" menu shown on the CI page for virions, but with no selectable options in the dropdown"
maybe just change it to a simple button?

[2021-12-03 20:53] JaxkDev commented on #298
You cant ‘release’ virions like plugins there is no submission form etc.
That entire column should be removed on virion projects

[2021-12-03 20:53] dktapps opened #299 "Build passes with incorrect version of virion for API"
https://poggit.pmmp.io/ci/dktapps-pm-pl/pmforms-demo/pmforms-demo/dev:4

This build requires API 4.0.0, but used pmforms 1.0.0 (which doesn't support API 4.0.0), and yet the build passed with no errors.

[2021-12-03 20:53] dktapps commented on #298
Yeah I know. But for the plugin case I've also never seen a case where it has anything but "Submit", so it seems pointless to have a dropdown at all.

[2021-12-03 20:58] JaxkDev commented on #298
Yeah probably planned feature of something but no trace of anything like that, right now its only submit/update/empty https://github.com/poggit/poggit/blob/4f5538fbfd218c9aec3e6d3a4dd1dfb786342af9/js/ci.project.js#L303-L307
Will change to button unless @SOF3 objects with something

[2021-12-03 20:59] dktapps commented on #298
Seems like `Submit` would cover all cases anyway.

[2021-12-03 21:57] dktapps opened #300 "Redirect https://poggit.pmmp.io/ci/author/repo to author/repo/~ directly if there's only 1 project in a repo"
In many cases plugins have a whole repo to themselves, in which case the CI project list page is just a pointless extra click.

For example: https://poggit.pmmp.io/ci/dktapps-pm-pl/pmforms-demo is redundant; I'd rather be directed directly to <https://poggit.pmmp.io/ci/dktapps-pm-pl/pmforms-demo/~>, which is where the real meat is.

It's also not obvious where I have to click to get to the actual

[2021-12-03 22:02] dktapps commented on #299
It turns out that the plugin was actually requiring 3.7.2, but in that case, this build should have failed due to using a PM4-only virion: https://poggit.pmmp.io/ci/dktapps-pm-pl/pmforms-demo/pmforms-demo/dev:5

[2021-12-04 18:24] dktapps opened #301 "Virion shading does not properly check for namespace match"
This was discussed here: https://discord.com/channels/373199722573201408/708328556064931892/916451917209698395

TLDR: Things in namespace `dktapps\pmforms_demo` get shaded when `dktapps\pmforms` is used, because the namespace shader does not check if the following character is a `\` (or if it's an exact namespace match).

[2021-12-05 02:38] SOF3 commented on #301
This shouldn't have happened with PHP 7 since each part is parsed individually. @JaxkDev is it new in the PHP 8 support?

[2021-12-05 17:49] JaxkDev commented on #301
This would happen on PHP7, this issue was carried forward to the new PHP8 code as well.

[2021-12-05 18:08] JaxkDev commented on #301
And based on this bug being linked to `strpos` I have a feeling `new \dktapps\pmforms\whatever(...);` wont get shaded because the prefix \ means strpos wont be 0 but 1.

[2021-12-05 18:24] NhanAZ commented on #295
I think it should be

[2021-12-06 20:54] JaxkDev commented on #297
I can't reproduce on any of my existing / new org projects.

Note this is a client side bug for some reason it wasn't validating the user with github (could potentially have been during github down time or ISE 500 returns) if not validated at client side with github it wont be sent to poggit hence 0 producers.

[2021-12-08 16:00] #300 closed, assigned to nobody

[2021-12-08 16:50] JaxkDev commented on #298
Couldn't do submit by itself due to URL redirection requiring both submit and update but I think I implemented what you wanted, have a look once @SOF3 pulls.

[2021-12-08 16:50] #298 closed, assigned to nobody

[2021-12-08 16:55] #295 closed, assigned to nobody

[2021-12-08 17:36] JaxkDev commented on #270
Any verdict on this ? @SOF3

[2021-12-09 01:39] SOF3 commented on #298
Originally there's supposed to be a delete button too, but turns out we didn't want it.

[2021-12-09 04:47] SOF3 commented on #270
I guess it doesn't hurt to add one more category. Doubt anyone uses them anyway :D

[2021-12-09 05:27] NhanAZ commented on #270
btw
I think the staff should actively add categories to the plugin instead of letting the plugin authors do it.
Adding categories correctly will make it easier for users to find plugins.
Poggit allows authors to add any category they want, which makes it possible for some authors to add entire categories to their plugin, causing incorrect category search plugin results.

[2021-12-09 11:58] dktapps commented on #300
was the fix for this pushed to prod yet?

[2021-12-09 11:59] SOF3 commented on #300
Pulled 5 seconds ago

[2021-12-09 14:43] #270 closed, assigned to nobody

[2021-12-09 14:48] JaxkDev commented on #235
I'm actually confused with this issue, correct me if I'm wrong but do you want a download button inside the build 'box' eg underneath the `Link \n No problems have been found. Well done!` ?
You can already download a specific build number so think I'm missing something here...

[2021-12-10 00:10] Aericio commented on #235
@JaxkDev Yes, download button directly in the sidebar and not just in the table.

My issue was that PiggyCustomEnchants has over 500 builds on Poggit.

If I manually edit the search bar like so to find the 300th build without needing to press "Load more builds" repetitively,
`https://poggit.pmmp.io/ci/DaPigGuy/PiggyCustomEnchants/PiggyCustomEnchants/dev:300`

I will be able to see this specific de

[2021-12-11 15:58] #235 closed, assigned to nobody

[2021-12-11 23:34] JaxkDev commented on #269
tbh I personally think this should be a client sided sort, just send ‘all’ releases to client and leave them to decide how to sort them (based on UI options, eg API 3.0.0 compatible & order by downloads)

[2021-12-11 23:45] JaxkDev commented on #291
Linked: #26

[2021-12-12 01:51] Aericio commented on #235
Thanks @JaxkDev.

[2021-12-15 13:51] #301 closed, assigned to JaxkDev

[2021-12-18 08:47] SOF3 opened #303 "Virion CLI requires phar.readonly=0"
Shading virions indeed requires phar.readonly=0, but it should not be required for running CLI commands only.

[2021-12-18 23:46] dktapps opened #304 "Do not include rejected or submitted plugins in plugin search"
https://poggit.pmmp.io/plugins/called/command

Over half the plugins in this search are rejected. Many more haven't been approved.

This adds a bunch of useless noise to the search. If I want to see submitted plugins I would go to the Review page.

I understand that the reason I see these is because I have reviewer permissions; however, I don't go to the search when I want to review plugins, I do

[2021-12-19 13:18] JaxkDev commented on #304
0444c48b9bc364fb6135101ff17ab2c37aeccead

[2021-12-19 13:18] #304 closed, assigned to nobody

[2021-12-19 13:18] JaxkDev commented on #303
huh?
What other cli commands are there apart from shading ??

[2021-12-19 13:50] ShockedPlot7560 opened #305 "Submitted plugin not displayed"
When I submit a new version of a plugin from an organisation, it is not displayed in the drop-down menu at the top right of the plugin page.
Link to the relevant plugin:
Proof:
![image](https://user-images.githubusercontent.com/66992287/146677126-fc802f26-3be5-48fa-a47c-9a1ee5678dc3.png)![image](https://user-images.githubusercontent.com/66992287/146677077-6ba19194-0fdb-47f6-8532-aa02abe002dc.png)

[2021-12-20 01:49] SOF3 commented on #303
Virions can create a file called `cli-map.json`. Then the virion stub will try to load subcommands specified in cli-map.json if available.

For example https://github.com/poggit/libasynql/blob/master/libasynql/cli-map.json

[2021-12-24 13:20] SOF3 opened #306 ""poggit build" in commit message may lead to 500ISE"
https://github.com/poggit-orphanage/PurePerms/commit/a504cbe607fc4400f2aabc63893189a83f4e08ec

[code]

[2021-12-28 19:30] dktapps opened #307 "Be more consistent with github button placements"
![image](https://user-images.githubusercontent.com/14214667/147600452-6d9d9017-dd99-40b5-8232-ea670d07b7ac.png)

This always confuses me. There is a button that goes to the user's github profile but not one to go to the source code.

Meanwhile, on the plugin's release page, it's the other way round:
![image](https://user-images.githubusercontent.com/14214667/147600525-bea40bbd-1c7f-47a9-a62a-a8ebb

[2021-12-31 09:01] ShockedPlot7560 opened #308 "The poggit build stay in status pending"
For several weeks, a problem has been occurring in the build of my plugin. Either it stays pending all the time, or PHPstan comes out with an error.
![image](https://user-images.githubusercontent.com/66992287/147813572-fdb1f1b2-e27f-4c81-91b4-aaf896ea743a.png)
![image](https://user-images.githubusercontent.com/66992287/147813777-d80f6e8f-bfd4-4527-ae05-0f22040d2109.png)

This has the consequence o

[2021-12-31 09:26] JaxkDev commented on #308
Cant reproduce locally with virions rebuilt locally.
And the error log is empty for the ones that crash…

[2021-12-31 09:59] ShockedPlot7560 commented on #308
How can this happen in this case?
This is problematic because I can't update my plugin at the moment :/

[2021-12-31 10:01] JaxkDev commented on #308
Just disable PHPStan lint for now

[2022-01-06 09:38] ShockedPlot7560 commented on #308
works, thanks

[2022-01-06 09:44] JaxkDev commented on #308
Disabling it is a temp workaround to get builds, seeing this issue in other plugins such as MineFlow now as well.
Might be easier to debug locally as it has no virions

[2022-01-11 11:11] SOF3 opened #309 "Display plugin code size or update diff size in review queue"
This helps reviewers clear out small plugins from the queue more quickly. Basically enables an "express lane".

[2022-01-11 15:06] NhanAZ commented on #305
I have the same problem as you... And it's quite annoying... But I'm used to it :<

[2022-01-11 16:07] JaxkDev commented on #305
Technical Dupe of #188
Whole organisation permissions thing needs to be looked at but thats a major time consumer hence why its been sitting there for years, and because poggit uses the github webhooks not apps so makes things much more complicated

[2022-01-18 09:07] JaxkDev commented on #307
May be other places but thats those two added, can now go straight to author on release page & straight to repo on project CI page

[2022-01-18 09:07] #307 closed, assigned to nobody

[2022-01-18 09:11] JaxkDev commented on #309
I'd assume this to be stored in plugin submission as if fetched on review page right now that'd be more than 50 github calls...

[2022-01-18 09:30] JaxkDev commented on #299
https://github.com/poggit/poggit/blob/f23e84481be96dbbe3831080f1989c5db71239e1/src/poggit/ci/Virion.php#L160

Note to self: Just need to get a reference / fetch the plugins API range so that todo can be resolved with a simple semver comparison.

[2022-01-18 12:04] SOF3 commented on #309
Could as well be determined during build time.

[2022-01-22 20:41] dktapps commented on #307
I guess this wasn't deployed yet.

[2022-01-22 22:02] JaxkDev commented on #307
@SOF3

[2022-01-23 03:54] SOF3 commented on #307
Pulled

[2022-01-29 14:21] NhanAZ opened #310 ""Release Search" Problem"
# Steps to reproduce the problem:
~~https://youtu.be/4LRQpooOXC0~~ (Video has been deleted)
1. Search something on the release search bar (Ex: skyblock)
2. Click the "Search" button
3. Keep searching for something else on the release search bar (Ex: myplot)
4. Click the "Search" button

After performing step 4, no results will be returned

[2022-02-04 10:50] JaxkDev commented on #236
Scratch that, could just get the repo’s license as sorted by GitHub as it will have the license key if known, we can use that otherwise it provides us with the LICENSE file content so we can use that under ‘custom’ type.

https://docs.github.com/en/rest/reference/licenses#get-the-license-for-a-repository

[2022-02-04 18:22] jasonw4331 commented on #236
I recommend using the SPDX license list for validation

https://raw.githubusercontent.com/spdx/license-list-data/master/json/licenses.json

[2022-02-04 22:33] JaxkDev commented on #236
Should be alright, just use the SPDX id from GitHubs response

[2022-03-16 09:53] NhanAZ opened #311 "Problem with query bar"
Can't query plugins with API < 4.0.0

![image](https://user-images.githubusercontent.com/60387689/158563449-cacae56a-f732-4c58-91f2-9389568dff0b.png)

[2022-03-16 11:02] SOF3 commented on #311
you need to add `?outdated` to the URL. this is a usability issue indeed.

[2022-04-10 13:24] JaxkDev commented on #310
Not fixed.
Different error has occurred, something to do with the plugin API's array being null when being sorted/listed so search stuff after is never reached due to errors.

[2022-04-11 11:59] JaxkDev commented on #306
Bit unsure how to change this behaviour, its looking for a keyword after `poggit build` like all / none / nil or the project name...
Do we build all the projects if none of those are met ? (string after `poggit build` is not a keyword/known project name)

https://github.com/poggit/support/blob/4c0e5285eb72e9acb94b7d0e375ae3cc9c42cc8e/poggit.yml.d.ts#L21
https://github.com/poggit/poggit/blob/b1c897

[2022-04-30 06:12] #287 closed, assigned to nobody

[2022-05-10 01:42] xRodzMC opened #314 "Argo Tunner Error"
Dear @poggit,
# Issue
When you visit [poggit.pmmp.io](https://poggit.pmmp.io) it will shown cloudflare agro tunner error.

# Error 1033
## What happened?
You've requested a page on a website ([poggit.pmmp.io](https://poggit.pmmp.io)) that is on the [Cloudflare](https://www.cloudflare.com) network. The host ([poggit.pmmp.io](https://poggit.pmmp.io)) is configured as an Argo Tunnel, and Cloudflare i

[2022-05-10 01:50] SOF3 commented on #314
Please don't report server downtime on the GitHub issue tracker. The issue tracker is for tracking code issues not operation issues.

[2022-05-10 01:50] #314 closed, assigned to nobody

[2022-05-10 12:02] xRodzMC commented on #314
Dear @SOFe,

You can make your own maintenance mode for people didnt know, what is problem or being maintenance mode.
**TIP:** You can make your own http error pages, as i know.

<p align=right>
Regards, @xqwtxon <3
</p>

[2022-05-10 12:29] SOF3 commented on #314
the best maintenance page is a poggit site that works.

[2022-07-10 11:41] tpguy825 opened #315 "Poggit down: Argo tunnel error"
⠀

[2022-07-10 12:14] SOF3 commented on #315
Do not use the issue tracker for occasional downtime. We already have internal monitors for it.

[2022-07-10 12:14] #315 closed, assigned to nobody

[2022-07-20 17:46] NhanAZ commented on #311
Thanks. It works for me. But I think the query bar should still be considered fixed.

[2022-07-20 17:46] #311 closed, assigned to nobody

[2022-08-05 11:22] JaxkDev commented on #306
@SOF3

[2022-08-05 11:25] JaxkDev commented on #297
Can't reproduce, and not seen this issue pop up again from anyone most likely just GitHub being funny/down during the time your plugin was updated to new format for producers/authors.

[2022-08-05 11:25] #297 closed, assigned to nobody

[2022-08-05 13:00] SOF3 commented on #306
@JaxkDev I think nobody knows this black magic behavior anyway. what about we just remove it? 🙃

[2022-08-06 09:11] JaxkDev commented on #306
Okay, will strip out the optional argument after `poggit build <project>` and `skip <project>` and assume all projects.

[2022-08-07 02:03] #306 closed, assigned to nobody

[2022-08-28 04:15] xBeastMode opened #318 "Add an api getter for latest dev builds without providing a commit hash or resource id input"
Add a way to get latest dev builds without giving commit hash or resource id input. Just like you can do with `poggit/get/plugin-name`, add `poggit/build/author/repository` which throws the phar automatically. This could be useful for things such as adding a github workflow that uploads a release asset, instead of having to build the release manually from the workflow: you have to also manually up

[2022-08-28 05:10] SOF3 commented on #318
yes, I would like to add such an API too. just need more slaves for that.

[2022-09-17 19:11] JaxkDev commented on #318
see `poggit/get/plugin-name/dev` for now